[2020-04-02 00:32] dgarijo opened #1 "Usage instructions"
The readme file does not specify how to use the tool. There are examples on the examples folder, but they are not very informative.

Also, is it possible to use kgtk with graphtools within its docker image?

[2020-04-09 18:22] rongpenl opened #2 "Improve wikidata triple generation."
1. Handle `external identifier` and `URI` rather than group them into the `StringValue` class.
2. Integrated the properties in wikidata as internal data. This way, the user only needs to specify his own properties in the `prop_types.tsv` with very large identifier number.

[2020-04-13 17:52] #2 closed

[2020-04-13 17:52] rongpenl commented on #2
Both issues solved.

[2020-04-16 04:42] ckxz105 opened #4 "cli branch unable to be used now because of import error"
When calling any kgtk cli function, it will raise an error because of import error
[code]

[2020-04-16 07:52] naren954 commented on #4
I removed the header.

[2020-04-16 07:52] #4 closed

[2020-05-01 23:16] saggu opened #19 "Modify output of gt_loader"
1. Add header
2. Output in and out degrees
3. option to output only stats and not data rows

[2020-05-03 00:54] szeke commented on #19
Add options to specify the labels for the edges used for each statistic. e.g., `--page-rank-property P123455`

[2020-05-12 00:22] saggu commented on #19
Completed, and checked in

[2020-05-12 00:22] #19 closed

[2020-05-12 02:50] szeke opened #32 "Change format of property definitions for generate Wikidata triples"
The currently supported file format looks like this:

node1 | label | node2 | data_type
-- | -- | -- | --
P2020008 | label | "attributed to software"@en | string
P2020008 | description | software used to extract information from an article or text fragment |  
P2020013 | label | "vertex in-degree"@en | quantity
P2020013 | description | measure of vertex in degree in a graph

We want it it look lik

[2020-05-12 02:51] szeke commented on #32
Assigning to @saggu , with help from @rongpenl

[2020-05-12 03:38] rongpenl commented on #32
I think this is a good point. I can try a quick fix.

[2020-05-12 04:12] rongpenl commented on #32
With pr #33 ,

`kgtk generate_wikidata_triples -pf officialProps.tsv -dp description --debug < sample.tsv`

where `sample.tsv` is
[code]
(note that I changed the order, otherwise triple generator won't know whether `P2020001` is a pnode or qnode when first encountered as it is memoryless.

will generates the following ttl file

[code]

[2020-05-12 20:42] saggu commented on #32
@rongpenl the first part of the issue is pending, I will update the google doc and then close it

[2020-05-12 21:37] saggu commented on #32
The google sheet is updated, https://docs.google.com/spreadsheets/d/1Dt3X_lvpcU_4GoOWZqP1OjAUKFgiZok1PJBTIT1x418/edit#gid=0

[2020-05-12 21:37] #32 closed

[2020-05-15 19:05] kyao opened #42 "Date Validation"
The command `kgtk generate_wikidata_triples`  is dropping dates found on Wikidata.

This is the content of ignored.log file:
[code]

The corresponding lines are:
[code]

[2020-05-18 16:24] rongpenl commented on #42
https://github.com/usc-isi-i2/etk/issues/414 Related issue.

[2020-05-21 19:51] dgarijo commented on #1
I think this issue can be closed due to the newest additions to the documentation in https://kgtk.readthedocs.io/en/latest/

[2020-05-21 19:51] #1 closed

[2020-05-21 19:51] dgarijo opened #47 "Create a docker image with KGTK"
Usage instructions include Conda installation. It would be great to have a dockerized version of KGTK

[2020-05-28 03:14] szeke opened #52 "Exception in clean_data while cleaning wikidata_qualifiers_20200504.tsv.gz"
The file `wikidata_qualifiers_20200504.tsv.gz` seems to have a large number of errors (reported by Itay), I tried to run `clean_data` on it and it threw an exception:

[code]

[2020-05-28 03:15] szeke commented on #52
The errors found by `clean_data` before it threw and exception

[kgtk-err.txt](https://github.com/usc-isi-i2/kgtk/files/4693032/kgtk-err.txt)

[2020-05-28 03:25] szeke opened #53 "Update connected components command to understand node/edge file conventions"
The connected components command uses non standard options to specify columns to operate on:
[code]

The task is to update the command to follow the same conventions as the others.

[2020-05-28 03:26] szeke commented on #53
Assigning to @saggu so he becomes familiar with how to handle the options in KGTK commands.

[2020-06-01 01:06] szeke opened #54 "Error in remove_columns when removing multiple columns, separated by space"
I am using the following command to remove the exploded columns from a Wikidata file:
[code]
If I put spaces between the column names, eg, `id, rank, node2;magnitude` it doesn't work.

This command also has a non-standard `-dt` option.

[2020-06-01 01:07] szeke commented on #54
Assigning to @CraigMiloRogers. We have a larger question that we should discuss, and it is whether we separate multiple arguments for an option with space, comma, and whether spaces can appear after the comma? How about TAB?

[2020-06-01 01:09] szeke opened #55 "graph_statistics doesn't accept input in standard input"
The input must be provided in a file argument. We should make it consistent with every other command.

[2020-06-01 01:16] szeke opened #56 "Clarify documentation of --output-stats in graph_statistics"
The documentation says:
[code]
It is unclear what this option means, should clarify.

I think we need the following options:
- ability to put the global statistics of the graph in a file
- ability to echo the original graph, adding the statistics edges at the end
- ability to only output the statistics edges

[2020-06-01 16:40] filievski opened #57 "text_embedding doesn't accept input in standard input"
The input right now must be provided in a file argument. We should make it consistent with every other command.

[2020-06-01 16:54] saggu opened #58 "generate_wikidata_triples ignores a valid ISO date if it does not start with `^`"
`2014-04-01T00:00:00Z/9` is a valid data in ISO format, but the command ignores it and throws an error because the string does not start with `^`.

This should be handled in the command

[2020-06-01 16:58] szeke commented on #58
The KGTK file format specifies that dates must start with `^`. If you run the validator, I am guessing it will complain. In the near future it will be possible to put the ISO dates in the exploded columns, and the code will parse the exploded columns and create the correct structured literal.

For now, `node2` must comply with the spec.

[2020-06-01 17:03] #58 closed

[2020-06-01 17:31] CraigMiloRogers commented on #52
That error is being thrown by Javascript code.  I don't think KGTK has any Javascript code.

[2020-06-01 17:32] CraigMiloRogers commented on #52
/usr/local/lib/node_modules/pv/

That's the vital clue.  There are mulitple implementations of `pv`. I'm using the C implementation. You're using the nodejs implementation.

[2020-06-01 17:33] CraigMiloRogers commented on #52
Which version of nodejs pv do you have installed? A quick google reveals similar bugs in earlier versions.

[2020-06-01 17:33] szeke commented on #52
Oh, so it is failing because of `pv`. Sigh.

In any case, please validate the qualifiers file as Itay told me that it has many errors.

[2020-06-01 17:34] CraigMiloRogers commented on #52
It may be just nodejs pv responding to the downstream part of the pipe exiting early due to exceeding the error limit.

[2020-06-01 17:35] CraigMiloRogers commented on #52
Try adding `--error-limit 0` to the `clean_data` options.

[2020-06-01 17:41] CraigMiloRogers commented on #54
I prefer space as a separator in lists, mainly because I'm using Python's argparse and that's what it supports.  I could retool to support commas with optional whitespace, or both patterns (whitespace or commas with optional whitespace), although that will make argument parsing a little more complex.

[2020-06-01 17:42] CraigMiloRogers commented on #54
I am somewhat opposed to using commas as a list separator because then we are effectively prohibiting them as characters in list items.

[2020-06-01 17:44] szeke commented on #54
I don't care either way, but we need to standardize

[2020-06-01 18:11] szeke commented on #52
@CraigMiloRogers please run the validator and cleaner on the qualifiers as I think it will uncover issues in the Wikidata import that we have to go fix, so sounds like a thorough analysis is needed on the Wikidata import.

I will close this issue as it there is this is not a bug in clean.

[2020-06-01 18:11] #52 closed

[2020-06-02 02:17] filievski commented on #56
Addressed by https://github.com/usc-isi-i2/kgtk/commit/d6ccabcbaa724f640fb31c202a2e820d5ea79452

Updated documentation also on read-the-docs:
https://kgtk.readthedocs.io/en/latest/stats/

[2020-06-02 17:09] saggu commented on #54
As per consensus in yesterday's RP's meeting, we will use `space`

[2020-06-02 21:45] ckxz105 commented on #57
fixed at this merge:
https://github.com/usc-isi-i2/kgtk/pull/59

[2020-06-02 21:45] #57 closed

[2020-06-03 04:38] rongpenl commented on #42
Fixed with #61 .

[2020-06-03 04:38] #42 closed

[2020-06-04 22:42] filievski opened #62 "Filter should use the header parser by Craig"
**Describe the bug**
The header of the file right now has to be node1,label,node2 and can only be overwritten by setting the columns

**To Reproduce**
Given a sample file:
[code]

You can filter successfully as follows:
`kgtk filter -p " ; vertex_pagerank ; " --pred property wikidata-pagerank-degrees_all.tsv > wikidata-pagerank-only.tsv`

But if you run the following, you get nothing:
`kgtk filter

[2020-06-08 03:59] #47 closed

[2020-06-08 04:01] dgarijo opened #63 "Example toy graph"
It would be great to have an example toy graph to demonstrate the different features of KGTK without having to wait a long time when dealing with a KG.

This toy KGTK file could be using for quick testing of all commands on each release.

[2020-06-08 20:49] filievski opened #64 "Numeric sorting"
**Describe the bug**
Sort does not allow for numeric sorting, it always performs string sorting.

**To Reproduce**
Steps to reproduce the behavior:
1. Jun tried to compute PageRank by using `graph_statistics`
2. then he used `kgtk sort` on the resulting PageRank statistics

**Expected behavior**
The sort should accept a flag `--numeric` that makes it perform a numeric rather than lexical sort.

**

[2020-06-08 21:52] dgarijo opened #65 "[Feature request] Extract common paths from KGTK edge file"
**Is your feature request related to a problem? Please describe.**
Given a KGTK file, I would like to know how the information is connected, that is, what are the typical paths that can be found between instances of a class in the graph.

For example, given Wikidata and the class Human, I would like to know what are the common paths one could explore from a Human in the endpoint. Examples could be

[2020-06-10 04:35] #56 closed

[2020-06-15 23:35] #62 closed

[2020-06-23 21:04] dgarijo opened #73 "Have a single requirements file"
Right now there are 3 requirement files:

- requirements.txt, used for installation of kgtk.
- requirements-dev
- requirements-text_embeddings, which are now included in requirements.txt

Can we have just one? @saggu, @GreatYYX, @ckxz105 ?

[2020-06-24 02:43] GreatYYX commented on #73
`setup.py` only includes `requirements.txt`. `requirements-dev.txt` is for development only (manual install with docs, test suites and so on). `requirement-text_embeddings ` could be either integrated or renamed to `requirements-full.txt` and automatically installed for full version.

[2020-06-24 04:17] dgarijo commented on #73
Actually `requirement-text_embeddings.txt` is redundant, because all deps are already in `requirements.txt`

[2020-06-24 04:21] GreatYYX commented on #73
Right. Typically, it can be removed.
But I personally think it's not a proper design. If text-embedding is not a required module, we should remove it from lite installation and prune the size of the package.
So basically, it would have:
- requirement.txt for standard / full version (automatic packaged)
- requirement-lite.txt for lite version (automatic packaged)
- requirement-dev.txt for developer

[2020-06-24 04:43] dgarijo commented on #73
Correct, right now there is no "lite" installation. The docker image is 5.89 GB, which I would say is not pretty "lite" :)
BUT if we have a "lite" installation in the future, maybe it should not have the commands that require a complete install. Otherwise it's very confusing. Maybe we should wait until the whole kgtk stabilizes (v1.0.0) and have a branch for lite

[2020-06-24 04:45] GreatYYX commented on #73
Agree, this needs more comprehensive consideration.

BTW, we do have a "lite" version, but not documented since it was a temporary request from @saggu https://github.com/usc-isi-i2/kgtk/tree/feature/lite, it could run as `python setup.py install --lite`.

[2020-06-24 23:25] ckxz105 commented on #73
Remove the extra text embedding requirement file

[2020-06-24 23:25] #73 closed

[2020-06-24 23:42] CraigMiloRogers opened #74 "Command Option Syntax Is Confusing"
Users are confused about where to put positional arguments, typically file names.  If they place them after an option that takes a varying number of arguments, such as a column list, the file name is absorbed into the list.

[2020-06-24 23:43] CraigMiloRogers commented on #74
Proposal:  Use -i (--input-file) and -o (--output-file) instead of positional arguments.

[2020-06-25 01:20] szeke opened #75 "Description of graph_statistics is incorrect"
`kgtk --help` produces

[code]

[2020-06-25 01:23] dgarijo commented on #75
Which version are you using?

Doing the following in version 0.2.1:
[code]

[2020-06-25 01:24] dgarijo commented on #75
And:
[code]

[2020-06-25 02:29] szeke commented on #75
Yes, in version 0.2.1, gt_loader and gt_statistics have identical descriptions.

[2020-06-25 02:39] dgarijo commented on #75
Ohh, right, I thought the command was ONLY producing that description.

[2020-06-25 02:46] dgarijo commented on #74
I have no preference, as long as it is consistent across commands.

[2020-06-25 02:54] szeke commented on #74
I agree with the suggestion to use options to specify input files so it doesn't matter where it occurs.

I suppose that commands that take different  types of files as input (eg join), will use the standard input as the `-I` file. If there are multiple input files for `-I`, do we repeat the option? `-i file -i file`. If in addition a file is given in stdin, is there a way to specify where it goes

[2020-06-25 02:59] dgarijo commented on #74
I would have two different commands:

`-i` (--input) for a simple file

`-is` (--inputs) for multiple inputs.

That way you could have `command -i input1.txt`
or
`command -is input1 input2 input3`

[2020-06-25 03:05] szeke opened #76 "Type in md help string"
It says

[code]

[2020-06-25 14:59] szeke commented on #74
I think the convention is that single dash options have to be one character. I think the decision is whether multiple values to options are a list or we list the option multiple times.

[2020-06-25 18:40] CraigMiloRogers commented on #74
If the input files serve different purposes, such as left/right or input/filter, I prefer to use special options.
If we are inputting multiple files to be processed as a series, listing the option once with multiple files after it appears to be the only choice with Python argparse.

[2020-06-25 19:09] CraigMiloRogers commented on #76
Fixed, in both the documentation and the program.

[2020-06-25 19:09] #76 closed

[2020-06-25 20:02] CraigMiloRogers opened #78 "Sorting Order Disagreement"
Python's sorting function sorts in the following order:

P560    P580-count      2       21
P5603   P580-count      2       845
P5607   P580-count      326     25788

The Gnu sort command sorts in the following order, unless the envar LC_ALL is set to C:

P5603   P580-count      2       845
P5607   P580-count      326     25788
P560    P580-count      2       21

This means tha the output of `kgtk

[2020-06-25 20:03] CraigMiloRogers commented on #78
I don't see any hints that sort.py is aware of this issue.

[2020-06-25 20:06] CraigMiloRogers commented on #78
I speculate that the mlr-based sorted might have used the same sorting order as Python.

[2020-06-25 21:01] CraigMiloRogers commented on #78
I've tested the current kgtk sort and the output *is* in the correct order.

[2020-06-25 21:01] #78 closed

[2020-06-25 21:55] CraigMiloRogers commented on #74
Nevermind, I found the example in the documentation.  The key to allowing multiple "-i" options is action="append".

[2020-06-26 23:28] dgarijo opened #82 "Examples should be updated"
The kgtk code has changed so rapidly in the last 3 weeks that some of the commands used in the notebooks are no longer valid.

The notebooks should be updated accordingly.

[2020-06-27 02:55] dgarijo commented on #82
In @filievski's notebook, I updated the data so the notebook will work. However, I did not update the description in the notebook itself.

[2020-06-27 03:00] dgarijo opened #83 "[Dockerfiles] Do not run notebooks as root"
It is not a good practice to run the notebooks as root in the container. The following lines address the problem:

[code]

This was taken from the mybinder documentation. The invocation command for the notebook should probably be updated too.

[2020-06-27 21:21] filievski commented on #82
Description updated:
https://github.com/usc-isi-i2/kgtk/commit/76d517d888b12726e2de9ec8be9300bf5beb1013

[2020-06-27 21:37] dgarijo commented on #82
@filievski thanks, now we just need to make sure the other notebooks are updated too.

[2020-06-27 23:29] filievski commented on #82
I have updated them with the text_embedding and graph_statistics' logging attribute already.
Are there any known issues?

[2020-06-27 23:45] dgarijo commented on #82
I tried the notebook https://github.com/usc-isi-i2/kgtk/blob/dev/examples/Example5%20-%20AIDA%20AIF.ipynb and experienced some errors because the commands have changed.

[2020-06-29 20:49] filievski opened #84 "Add_id's documentation of id-styles needs to be updated/clarified"
The documentation of id-style options in https://kgtk.readthedocs.io/en/dev/transform/add_id/ seems confusing and needs to be updated/clarified. Namely, the first table conveniently lists the possible styles but the actual options in the command below are different (or at least, do not correspond 1-on-1 to the styles in the table).

[2020-06-29 20:53] filievski commented on #75
`gt_loader` is deprecated and I had removed it now. This will be fixed automatically in the new release.

[2020-06-29 20:53] #75 closed

[2020-06-30 04:33] dgarijo opened #85 "Update instructions: How to update KGTK?"
We have no instructions stating how to update an already installed version of KGTK.
In theory it should be as easy as:

[code]

[2020-06-30 18:26] GreatYYX commented on #85
- If it's from pip, then `pip install -U kgtk`.
- If it's from github, then `git pull && pip install .` or `git pull && python setup.py install`. If it was original installed as development, namely `pip install -e .`, then only need to do `git pull`.

[2020-07-01 04:51] dgarijo commented on #85
Fixed in dev.

[2020-07-01 04:51] #85 closed

[2020-07-01 16:58] saggu commented on #53
Updated the command in `dev` branch

[2020-07-01 16:58] #53 closed

[2020-07-02 02:36] filievski commented on #82
Fixed on dev

[2020-07-02 02:36] #82 closed

[2020-07-06 03:06] dgarijo opened #86 "Import n-triples in help does not use ntriples format"
In the KGTK help, import_ntriples is as follows:

`gtk import_ntriples -i dbpedia_wikipedia_links.ttl -o DbpediaWikipediaLinks.tsv`

However, can the command use turtle file? Shouldn't the command be `.nt`?

[2020-07-06 03:07] dgarijo commented on #86
I am assigning @rongpenl because he has the one in charge of the command (I believe). Please clarify! Thanks.

[2020-07-06 03:36] dgarijo commented on #86
Also, @rongpenl  is the latest dev version still using underscores? I tried to use it, but I only got it working with `_`

[2020-07-06 14:08] rongpenl commented on #86
@dgarijo Naren wrote this command before but since it can be treated as the inverse of my command so I can take a look.

I think you are right. The extension should be `.nt` rather than `.ttl`. Naren's `import_ntriples` doesn't work on turtle file.

[2020-07-06 14:09] rongpenl commented on #86
@dgarijo What do you mean using underscores? Which functionality are you using? Can you provide an example?

[2020-07-06 17:19] dgarijo commented on #86
@rongpenl, latest version uses underscores: https://kgtk.readthedocs.io/en/latest/import/import_ntriples/

dev version uses hyphens: https://kgtk.readthedocs.io/en/dev/import/import_ntriples/

However, in my latest Docker build from the `dev` branch, `import-ntriples` is not recognized. I had to use the old one instead (import_ntriples).

[2020-07-06 17:23] rongpenl commented on #86
I think it is because import-ntriples is only discussed/documented but not implemented yet. @CraigMiloRogers may know more about the latest status.

[2020-07-06 17:31] dgarijo commented on #86
Let's discuss offline and address the issue, it doesn't look complicated.

[2020-07-06 18:41] dgarijo commented on #86
This was a caching issue in the docker image

[2020-07-06 18:41] #86 closed

[2020-07-06 20:27] CraigMiloRogers opened #87 "Add calendar to dates"
Add support for calendars to dates.

[2020-07-06 20:28] CraigMiloRogers opened #88 "Add Revised Precision to Dates"
Add support for the revised (named) precisions to dates.

[2020-07-06 20:31] CraigMiloRogers opened #89 "Fix Reliability and Performance Issues in Sort and Pipes"
`kgtk sort` was unreliable in pipes. A workaround has been implemented, but a thorough examination and possible rewrite of the code is called for.

[2020-07-07 21:24] CraigMiloRogers opened #90 "Jyoyter Lab Example 4 uses gzcat, whihc isn't portable"
KGTK jupyter lab Example 4 uses `gzcat`. This command isn't portable; although it is available on MacOS, it is not provided in some flavors of Linux.  The portable alternative is `gunzip -c`, or even better, `gzip -dc`.

[2020-07-08 00:57] szeke commented on #90
@CraigMiloRogers please update as appropriate

[2020-07-16 18:18] CraigMiloRogers opened #95 "Add Precision to Coordinates"
import_wikidata would like to add a precision field to coordinates.

[2020-07-23 18:15] szeke opened #96 "import triples does not import numbers"
When importing the following triples all the triples with numbers are skipped in the output.

[code]

The output:
[code]

[2020-07-23 22:42] #54 closed

[2020-07-23 22:49] filievski commented on #55
This is not fixed yet, even though we use the KGTKFiles class now.
[code]

[code]

[2020-07-23 23:04] saggu commented on #55
Will work on it after Datamart tasks, probably next week

[2020-07-24 04:18] szeke commented on #96
After @CraigMiloRogers fix for integers, we are still missing the edges corresponding to the triples that contain blank nodes such as `_:r5020574_0`

[wt.100.nt.zip](https://github.com/usc-isi-i2/kgtk/files/4970180/wt.100.nt.zip)

[2020-07-24 17:08] CraigMiloRogers commented on #96
The code didn't know that an underscore was valid inside a blank node after the leading underscore.  Fixed in the dev branch.

[2020-07-24 17:08] #96 closed

[2020-07-24 23:13] filievski opened #97 "`paths` does not consistently output edge ids"
The output of `kgtk paths` sometimes shows the node1 or node2 instead of the edge id. There seems to be a problem of not reading the header correctly.

[2020-07-25 03:46] filievski commented on #97
Fixed on dev with https://github.com/usc-isi-i2/kgtk/commit/adab1e4811104ca4919cfe9b733521b5df4be30f

[2020-07-25 03:46] #97 closed

[2020-07-28 16:45] CraigMiloRogers opened #98 "kgtk connected-components Cannot Process Stdin"
kgtk/gt/connected-components passes the input path to both KgtkReader (to get the header line) and to gtaph_tool.load_from_csv(...). The input path is "-" when we want to read stdin.
1) graph_tool.load_from_csv(...) isn't prepared to use "-" as an indicator to read stdin
2) I suspect that the no_header logic is wrong, because KgtkReader will read the header line from stdin before load_from_csv can

[2020-07-28 16:56] CraigMiloRogers opened #99 "kgt connected-components Will Fail on Certain Strings"
If the KGTK input file contains strings (or symbols) with internal double quotes, failure is likely because load_from_csv isn't passed the csv_options to use an escape character (\") instead of doubling ("") to process the internal quotes.

[2020-07-29 00:08] CraigMiloRogers commented on #99
Fixed by loading the KGTK rows directly into the graph, bypassing the CSV reader.

[2020-07-29 00:08] #99 closed

[2020-07-29 00:08] CraigMiloRogers commented on #98
Fixed by loading KGTK rows directly into the graph, bypassing the CSV reader.

[2020-07-29 00:08] #98 closed

[2020-07-29 21:18] JThanat opened #100 "kgtk ifnotexists return existing triple"
**Describe the bug**
Filter Not Exist does not return an expected behavior. In my case, the thing that exist in filter file still appear in the output. Please see the step to reproduce below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this [folder](https://drive.google.com/drive/folders/15rY9_vEh8q_GSPD-DWwKJmgTemlvtywf?usp=sharing) and download both `existing_triples.tsv` and `ma

[2020-07-29 21:47] saggu commented on #100
@JThanat The `folder` link goes to the `existing_triples.tsv` file. Please share the other file as well.

[2020-07-29 22:51] CraigMiloRogers commented on #55
"kgtk/cli/graph_statistics.py" should use load_graph_from_kgtk(...) in "kgtk/gt/gt_load.py".  See "kgtk/gt/connected_components.py" for an example. I'd change graph_statistics.py myself, but I do not have test cases.

[2020-07-30 01:31] ckxz105 opened #101 "unit test not passed on text embedding"
**Describe the bug**
When running on text embedding unit test, the unit raise an error like this:
[code]
For details, please refer to https://travis-ci.org/github/usc-isi-i2/kgtk/builds/713131958
it seems because the unit test environment did not install graph-tools.
If installed (e.g. test locally), it will pass the unit test.

**To Reproduce**
Run the unit test with text embedding

**Expected be

[2020-07-30 02:41] JThanat commented on #100
@saggu  The link is updated

[2020-07-30 18:05] saggu commented on #100
The triple in `exist_triples.tsv` is  `Q1938	P1469	"254141"`

whereas the triple in `matched_triples_kgtk_format.tsv` is

`Q1938	P1469	254141`

@CraigMiloRogers that seems to be one of the issues.

@JThanat what is your goal here? Filter out all triples for `Q1938` or just the specific triples present in the `exist_triples.tsv` file ?

[2020-07-30 18:25] CraigMiloRogers opened #102 "Importing to Graph Tools using a CSV Reader Breaks KGTK Strings"
kgtk/gt/connected_components.py was using a CVS-reader to import into Graph Tools.  This broke the KGTK strings being imported.  The other KGTK commands using Graph Tools are probably in a similar condition.

[2020-07-30 18:29] CraigMiloRogers commented on #102
I created "kgtk/gt/gt_load.py", containing `load_graph_from_kgtk(...)`. This should be used instead of the Graph Tool's package's `load_graph_from_csv(...)`. I converted "kgtk/gt/connected-components.py" to use the new loader. Other KGTK Graph Tools-based commands remain to be converted.

[2020-07-30 18:33] CraigMiloRogers opened #103 "Make It Easier to Export KGTK Correctly"
We need some tools and guidelines to assist with exporting KGTK to other formats.  For example, a destringify routine that removes the escape (\) from the the vertical bar (pipe) (|) character would help.

[2020-07-30 19:59] szeke opened #104 "Binder not working"
kgtk fails to run because it wants graph tools

<img width="1639" alt="image" src="https://user-images.githubusercontent.com/1074599/88968628-7170c580-d264-11ea-894b-37f368b43e44.png">

[2020-07-30 20:00] JThanat commented on #100
Thanks for the clarification. What I want to do is to filter out triples that **does not exist** in `exist_triples.tsv` (which I generate from filter `ifexist` from wikidata `edge.tsv` file. So,  I can take these non existing triples and put it in another KG that will be used to enrich Wikidata

[2020-07-30 20:04] CraigMiloRogers commented on #100
The string quotes are significant, as @saggu points out.

[2020-07-30 20:05] CraigMiloRogers commented on #100
Did you run the data through a spreadsheet, or some other program that may have stripped quotes?

[2020-07-30 20:12] CraigMiloRogers commented on #100
`matched_triples_kgtk_format.tsv` also contains items such as `10.03.1981`, which are not valid KGTK.

[2020-07-30 20:13] kyao opened #105 "Implode not working for coordinates"
**Describe the bug**
Node2 of coordinate property `P625` is missing after implosion.

**To Reproduce**
Run kgtk implode command:
[code]

[files.zip](https://github.com/usc-isi-i2/kgtk/files/5003594/files.zip)

**Expected behavior**
Node2 of `P625` should contain coordinate value

**Desktop (please complete the following information):**
KGTK 0.3.2

[2020-07-30 20:23] dgarijo commented on #104
The second notebook I added will work because it starts a Docker image.
This is covered in the documentation:

[2020-07-30 20:45] JThanat commented on #100
It's a soccer player data we get from (here)[https://github.com/minhptx/iswc-2016-semantic-labeling/blob/master/data/datasets/soccer/data/WM%202014%20Alle%20Spieler%20-%20players%20fifa.csv] to test our entity linking system. We have our entity linker that try to map raw data to Wikidata like `USC Wikifier`. And then after I link the data, I try to use KGTK to filter the output. So the quote strip

[2020-07-30 20:54] CraigMiloRogers commented on #105
--verbose reveals:
[code]

[2020-07-30 20:55] CraigMiloRogers commented on #105
`coordinate` should be `location_coordinates`

[2020-07-30 20:56] CraigMiloRogers commented on #105
[code]

[2020-07-30 20:58] CraigMiloRogers commented on #105
Do you think there should be data type aliases (lqstring, coordinate, datetime) for easier use?

[2020-07-30 21:02] CraigMiloRogers commented on #105
The `kgtk implode` command needs `--allow-lax-qnodes True` to process your qnodes. The KGTK default is to support only Qnodes as defined by Wikidata.

[2020-07-30 22:02] CraigMiloRogers commented on #74
We've updated the commands and can migrate to prohibit positional arguments.

[2020-07-30 22:09] CraigMiloRogers commented on #105
@kyao I've merged a new version of `kgtk implode` into the KGTK  `dev` repository. The new version is more agressive about pointing out the errors it encounters in the input file.  If you don't have access to this repository, we'll make a new release.

[2020-07-30 22:21] chalypso commented on #64
sort already does allow numeric sorting through the -X flag which can pass the -n flag to the underlying sort.  See second example below.  I can promote that to a --numeric option.  One issue with that is that in a simple way it will apply to all sort columns, but as long as only one sort column is specified, it would be fine.

`> cat /tmp/test.csv | kgtk sort -c 2
node	rank
otto	10
hans	2.0
franz

[2020-07-30 23:11] szeke commented on #64
Not a bug

[2020-07-30 23:11] #64 closed

[2020-08-02 23:12] #105 closed

[2020-08-03 17:54] rongpenl opened #108 "`import-wikidata` fails on early json dump of wikidata."
**Describe the bug**
`import-wikidata` fails on early json dump of wikidata.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://archive.org/download/wikidata-json-20150330
2. Download the json dump.
3. Unzip it
4. Run `kgtk import-wikidata -i 20150330.json --node nodefile.tsv --edge edgefile.tsv --qual qualfile.tsv  --procs 1 --debug --lang en`

**Expected behavior**
Three kgtk fi

[2020-08-03 18:53] saggu commented on #100
According to @JThanat the documentation on this command is not clear, he actually want to remove all triples from `matched_triples_kgtk_format.tsv` if `node1` exists in `existing_triples.tsv`.

So his filter keys should be `node1`

[2020-08-04 00:24] JThanat commented on #100
I think one keyword that might help for easier understanding is `if all filter key are matched, the triple will be filtered `. When I reread the document again, this thing is actually just an interpretation from this table.

![image](https://user-images.githubusercontent.com/10590807/89239447-144f7980-d5ae-11ea-9ce4-2da9514fa8c4.png)

I'm not sure what made me misunderstand it in the first place.

[2020-08-04 00:38] JThanat commented on #100
If I want all statements that does not exist in `existing_triples.tsv` then my command above should be correct right ?
file1:
| node1 | label   | node2 |
|-------|---------|-------|
| peter | zipcode | 12040 |
| peter | zipcode | 12345 |

existing triples in kg:
| node1 | label   | node2 |
|-------|---------|-------|
| peter | zipcode | 12040 |

after `ifnotexists`
result:
| node1 | label   | node

[2020-08-04 00:58] CraigMiloRogers commented on #108
The "claims" section was missing.  Perhaps the early JSON dump had a different structure than current ones?

[2020-08-04 00:58] CraigMiloRogers commented on #108
Due to the parallel processing implementation used by import-wikidata, it may be difficult to halt processing when the error is detected.

[2020-08-04 01:53] szeke commented on #100
@CraigMiloRogers please comment on this thread.

[2020-08-04 04:54] rongpenl commented on #108
Thanks for the verification Craig. Per @filievski 's use case and Pedro's suggestion, we probably can focus on the post 2016 dumps for now.

[2020-08-04 05:29] filievski commented on #108
For the record, the earliest dump that I tried so far (successfully) is from 20171227.

[2020-08-04 23:18] mtang724 opened #109 "Getting <class 'ValueError'> error when running the generate_wikidata_triples command"
**Describe the bug**
When I try to run the command *kgtk generate_wikidata_triples -pf wikibase_property_mapping_kgtk.tsv < kgtk_test.tsv > output_file.ttl*, I am getting the error
*"UserWarning: Please raise KGTKException instead of <class 'ValueError'>
  warnings.warn('Please raise KGTKException instead of {}'.format(type_))
KGTKException found"*

**To Reproduce**
Steps to reproduce the behavior

[2020-08-05 00:03] rongpenl commented on #109
Thank you for feedback @mtang724. I will take a look later today.

[2020-08-05 00:15] CraigMiloRogers opened #110 "language_suffix Can't Be Matched with field_value"
Language_suffix can't be matched with field_value because the language suffix values start with a dash, so the comparison values look like invalid numbers.  Even if the dash were removed, there would be confusion because Wikidata allows all-numeric suffixes.

The best solution is probably the rule that if the comparison value is a string (not a symbol), compare the field value to the contents of t

[2020-08-05 00:50] rongpenl commented on #109
@mtang724  I suppose you are using an old Mac that has `\r` as newline rather than `\n`.  The merge should solve your bug.

The inconsistency between `property_type` and `data_type` is due to the version of the doc which is based on the master branch I think. Can you take  look? @dgarijo Is it possible to have a dev branch based doc? Could open an issue. I am closing this one. Feel free to reopen

[2020-08-05 00:52] saggu commented on #109
@rongpenl Please keep this issue open until we have confirmation from @mtang724 that this is working

[2020-08-05 01:02] mtang724 commented on #109
Thank you @rongpenl and @saggu , I update the KGTK from the dev branch. Now I am getting a new issue
`UserWarning: Please raise KGTKException instead of <class 'OSError'>
  warnings.warn('Please raise KGTKException instead of {}'.format(type_))
KGTKException found`

[2020-08-05 01:06] saggu commented on #109
@rongpenl please explain what are the next steps? Is there a need to reinstall KGTK ?

[2020-08-05 02:55] rongpenl commented on #109
@mtang724 Please reinstall KGTK and when you run your code, add `--debug` option. I am curious why the error is `OSError`. Is your file name correct?

[2020-08-05 15:54] mtang724 commented on #109
@rongpenl Hi, I reinstalled the KGTK from dev branch, I first uninstalled the KGTK then using "git pull && python setup.py install" command to install it again. Is this a correct process? The OSError is because "OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory."

[2020-08-05 16:51] rongpenl commented on #109
Hi @mtang724 ，The `en_core_web_sm` is a model in spacy, which is required by kgtk. What you can do is the following.

1. Check that the version of your spacy library agrees with the specification in `requirements.txt`
2. Run `python -m spacy download en_core_web_sm` to donwload the model. You shouldn't need to link or provide a path somewhere, the default location is good.
3. Try the command again

[2020-08-05 16:57] mtang724 commented on #109
Thanks @rongpenl , it works. But after that I still got the same value error issue. This time I add `--debug`, below is the Traceback:
`Traceback (most recent call last):
  File "/Users/mtang/miniconda/envs/new_kgtk-env/lib/python3.7/site-packages/kgtk/exceptions.py", line 42, in __call__
    return_code = func(*args, **kwargs) or 0
  File "/Users/mtang/miniconda/envs/new_kgtk-env/lib/python3.7/si

[2020-08-05 17:08] rongpenl commented on #109
Thanks @mtang724 , can you post a screeshot of your Mac OS version information? Which editor are you using?

The issue is likely due to the fact that older Mac system use carriage return `\r` for new line.

[2020-08-05 17:11] saggu commented on #109
@mtang724 @rongpenl I suggest you guys have a zoom meeting to help you better debug this issue

[2020-08-05 17:13] rongpenl commented on #109
@mtang724 please send me an email on rli@isi.edu and let's schedule a meeting.

[2020-08-05 17:14] mtang724 commented on #109
@rongpenl My MacOS version is:
Catalina 10.15.4
![image](https://user-images.githubusercontent.com/12247351/89442783-65ca4680-d71d-11ea-93d6-6ce109fc391d.png)
@saggu yes, I am free to have a zoom call, I will schedule the call with @rongpenl

[2020-08-05 18:12] mtang724 commented on #109
Issue resolved by the new support of carriage return

[2020-08-05 18:12] #109 closed

[2020-08-05 19:05] CraigMiloRogers opened #112 "`kgtk import-wikidata` Creates Incorrect Sitelink URLs"
`kgtk import-wikidata` drops many sitelink URLs. It always uses "wikipedia.org" in the URL, when it should use other strings (e.g., "wikinews.org"), depending upon the site.

[2020-08-05 19:06] CraigMiloRogers commented on #112
I plan to work around this for the Time Machine by saving the lost data as qualifier edges.

[2020-08-06 22:40] dgarijo opened #113 "Create notebooks for each command"
Some command's documentation is not up to date. For example, lift documentation had examples that did not work anymore @szeke reports.

We should have notebooks that illustrate how to use KGTK. These notebooks can inform tests for the toolkit.

[2020-08-06 23:15] CraigMiloRogers commented on #100
Yes, the `existing_triples.tsv` should be filtered as @JThanat described.

[2020-08-06 23:16] CraigMiloRogers commented on #110
Done.

[2020-08-06 23:16] #110 closed

[2020-08-06 23:17] CraigMiloRogers commented on #112
Workaround in place.

[2020-08-06 23:23] #104 closed

[2020-08-06 23:23] CraigMiloRogers commented on #103
I've implemented destringify(...) and unstringify(...) with different semantics.

[2020-08-06 23:25] CraigMiloRogers commented on #95
As a workaround, the precision is imported into an additional column. However, we should consider extending the KGTK data model.

[2020-08-06 23:26] CraigMiloRogers commented on #89
I started working on this, but set it aside for the Time machine.

[2020-08-06 23:29] CraigMiloRogers commented on #88
We currently have a numeric precision field, with values that align with Wikidata. Pedro would prefer that we use symbolic values.  We also need to look at conversion issues at the import/export boundaries.

[2020-08-06 23:34] CraigMiloRogers commented on #95
This requires changes to our formal KGTK data model: documentation and changes to KgtkValue and KgtkValueFields.

[2020-08-06 23:37] CraigMiloRogers commented on #87
The KGTK data model currently defines a single date model. Wikidata supports multiple date models. We need to document how we want to import and export Wikidata's dates without degrading them, then make appropriate changes to the KGTK data model and code.

[2020-08-06 23:38] CraigMiloRogers commented on #74
This issue is waiting for our decision to prohibit positional arguments.

[2020-08-07 12:18] CraigMiloRogers opened #114 "Kgtk Timing"
It helps to know how long a KGTK command executed.  Rather than relying on the vagaries of command shells, or adding this feature to each individual command, provide `kgtk --timing` support in the top-level command dispatcher. Ideally, when executing a KGTK pipe, it will provide timing for each section of the pipe.

[2020-08-07 13:25] CraigMiloRogers opened #115 "Add --left-prefix and --right-prefix to `kgtk join`"
`kgtk join` currently supports --prefix for right-graph additional column name prefixing. When using `kgtk join` to create horizontally-joined records (`kgtk join / compact`), it would be useful to be able to apply a prefix to the  left-graph additional column names.

Add left-graph column names prefixing, supporting --right-prefix and --left-prefix.  Retain --prefix for compatability.

[2020-08-07 13:33] CraigMiloRogers opened #116 "Make Horizontal Joins Easier and Faster"
The `kgtk join` command performs a logical join of edge records or node records through concatenation of records. Sometimes the desired use case is to compact the records, producing a single output record with the additional column data from both sources.

This use case can be supported through the pipe `kgtk join / compact`.

If we add --compact option to `kgtk join`, we can reduce the complexity

[2020-08-07 13:37] CraigMiloRogers opened #117 "Parallelize `kgtk export-wikidata`"
The new `kgtk export-wikidata` command is relatively slow. Its performance could probably be improved through parallelization.  Make it so.

[2020-08-07 13:43] CraigMiloRogers opened #118 "Add the Command Alias `kgtk filter-properties` to `kgtk validate-properties`"
`kgtk validate-properties` was originally written in response to a request to validate certain property patterns in newly-generated KGTK files. However, the Time Machine scenario uses it as a filter.  Add the alias 'kgtk filter-properties' to reflect this.

For extra credit, if it is possible to determine which alias was used to invoke the command (some enhancement to the kgtk command parser may b

[2020-08-07 13:45] CraigMiloRogers opened #119 "Parallelize `kgtk validate-properties`"
`kgtk validate-properties` runs slower than desired.  Improve its performance through parallelization.

[2020-08-07 13:51] CraigMiloRogers opened #120 "Improve the Parallel Performance of `kgtk import-wikidata`"
The current parallelization implementation for `kgtk import-wikidata` has the worker tasks open the task-specific output file each time a new task arrives, closing the file when the task is complete. This seems suboptimal.

Change the implementation, if possible, to support opening the task-specific output files only once per worker task.

Use the enter() and exit() hooks in pyrallel to implement

[2020-08-07 19:32] dgarijo commented on #104
Just to follow up, I added clarifications in the documentation and readme (dev branch). They will be reflected when we do a new release.

[2020-08-07 20:07] dgarijo commented on #83
Fixed in dev: https://github.com/usc-isi-i2/kgtk/issues/83

[2020-08-07 20:12] dgarijo commented on #113
I created a folder in `examples` with a command example (which is equal to the CSKG use case because that case illustrates the text_embedding command quite well).

[2020-08-07 20:17] CraigMiloRogers commented on #89
I changed this from enhancement to bug and raised the priority.

[2020-08-07 20:19] CraigMiloRogers commented on #89
The kgtk process appears to buffer the entire input file in memory.  This causes `kgtk sort` to perform miserably at scale. This effect is probably due to the sh package's buffers, and there may be a setting to get around it.

[2020-08-11 05:14] kyao opened #121 "Imploding string type edge with empty value"
**Describe the bug**
Imploding a `string` `node2;kgtk:data_type` edge with empty `node2;kgtk:text` results in `node2` with empty value.

Is this the expected behaviour? Shouldn't the node2 value be `""`. Otherwise, if the imploded file is exploded again, the data_type is lost.

**To Reproduce**
[implode.tar.gz](https://github.com/usc-isi-i2/kgtk/files/5054857/implode.tar.gz)

Steps to reproduce th

[2020-08-11 16:18] szeke commented on #121
@kyao If this is urgent, assign to @saggu as Craig is on vacation. Also, please add label to issues.

[2020-08-11 18:24] saggu commented on #121
@kyao when I run that command, I see a bunch of warnings from `kgtk implode`

[code]

Also, opening the file in sublime, the empty value is really `blank` and not "". Maybe these rows should not be present in the first place ?

![image](https://user-images.githubusercontent.com/6811931/89934169-08267600-dbc5-11ea-876c-0aac38420f57.png)

[2020-08-11 21:02] kyao commented on #121
Will fix in t2wml by suppressing output of empty text fields.

[2020-08-11 21:02] #121 closed

[2020-08-14 14:27] wyfunique opened #122 "no commands for importing .ttl file?"
It seems that in the documentation, there is no import command for importing .ttl file. Most of them are importing .csv and .json. The closest one is importing N-triples. Is there a way for KGTK to read .ttl?

[2020-08-14 15:12] szeke commented on #122
Yes, KGTK requires ntriples, use https://github.com/blake-regalia/graphy.js/ to convert your TTL to NTRIPLES

[2020-08-14 15:12] #122 closed

[2020-08-18 20:27] CraigMiloRogers commented on #89
I've created a new sort implementation, but haven't tested it enough to be certain it will avoid the buffering issue in kgtk pipes.

[2020-08-18 20:59] CraigMiloRogers commented on #114
`kgtk --timing` has been ommitted to the dev branch.

[2020-08-18 20:59] #114 closed

[2020-08-18 21:41] CraigMiloRogers opened #123 "`kgtk ---timing` Should Show CPU Time and Ratio"
It would be useful if `kgtk --timing` also showed CPU time and the ratio between CPU and elapsed time.

[2020-08-18 22:42] CraigMiloRogers opened #124 "Bug in Wikidata Import and/or Export: Qnode Q2046-S1"
KgtkReader: File_path.suffix: .tsv
KgtkReader: reading file data/wikidata-20181210-all-qualifiers-pre-20101201-sorted.tsv
header: id      node1   label   node2   node2;wikidatatype      val_type        entity_type     datahash        precision       calendar
node1 column found, this is a KGTK edge file
KgtkReader: Special columns: node1=1 label=2 node2=3 id=0
KgtkReader: Reading an edge file.
Trac

[2020-08-18 22:43] CraigMiloRogers opened #125 "Bug in Wikidata Import/Export: Quantities without Units"
`kgtk import-wikidata` will drop the unit code in a quantity if it is a single character long or if it is the value "undefined'. What shoul we do in export?

[2020-08-18 22:45] CraigMiloRogers commented on #125
Value +16 lower bound +15

[2020-08-18 23:01] CraigMiloRogers opened #126 "Bug (?) in Wikidata Import/Export: Coordinates without Precision"
Verify that it's OK to have coordinates without a precision.  Is a blank precision provided?

[2020-08-18 23:22] CraigMiloRogers opened #127 "Bug in Wikidata Import? Out of Range Coordiantes"
Why do we import so many out of range coordinates from Wikidata.  Is it a bug in our impot code?  Are we misinterpreting the Wikidata JSON format?

[2020-08-19 00:56] CraigMiloRogers commented on #123
Implemented in dev.

[2020-08-19 00:56] #123 closed

[2020-08-19 02:10] CraigMiloRogers opened #128 "Bug in Time AMchine Wikidata Processing: Unrecognized Language Codes"
Need to do something about unrecognized language codes, such as simple".

[2020-08-19 18:20] CraigMiloRogers commented on #128
KgtkValue.strict_language_qualified_string_re.match failed for 'Simple English'@simple
Warning: Invalid KGTK value ''Simple English'@simple'

This is the only instance that made it to permissive output.

[2020-08-19 18:43] CraigMiloRogers commented on #115
Done and merged into dev.

[2020-08-19 18:43] #115 closed

[2020-08-20 17:53] CraigMiloRogers opened #129 "IDBuilder Needs To Check for Strings"
The ID builder should check if any component of the ID being built is a string instead of a symbol (or number).  In that case, the entire ID should be built as a string.

[2020-08-21 22:32] CraigMiloRogers opened #130 "Bug in Wikidata Import: Property datatype"
The Wikidata JSON file should have a datatype field for top-level property records. We aren't importing this field yet. We need this field for better analysis of Wikidata data, such as in the MAA project.

[2020-08-24 20:33] CraigMiloRogers commented on #130
I'm testing a fix now.  There's a new column in the node output file, and an option new edge in the edge file.

[2020-08-24 20:37] CraigMiloRogers opened #131 "Bug in `kgtk import-wikidata`: Consumes too much memory"
`kgtk import-wikidata --input-file wikidata-20200803-all.json --procs 8` consumed 12 GB of main memory and my workstation slowed down.  I suspect that there's no back pressure on the task queues.

[2020-08-24 22:15] CraigMiloRogers commented on #131
The pyrallel documentation is confusion; I've created an issue there. https://github.com/usc-isi-i2/pyrallel/issues/4

[2020-08-24 22:16] CraigMiloRogers commented on #131
I've changed the code to specify a max size per mapper queue, with a default value of 20.

[2020-08-24 22:17] CraigMiloRogers commented on #120
I'm testing a fix to this problem.

[2020-08-26 23:30] saggu opened #132 "kgtk cat piped with head throws an error after finishing the task successfully"
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Download `wikidata-20200803-all-edges.tsv.gz` file from  `https://drive.google.com/drive/u/1/folders/1QAtPByFuSXRN92_PE-aAZI2fMmlJQehA`
2. run command `kgtk cat wikidata-20200803-all-edges.tsv.gz | head`
3. The head rows are displayed along with the error at the end

I am running this from the `dev` branch

[2020-08-27 22:47] CraigMiloRogers commented on #132
I expect that the problem happens because the "head" command closes the pipe from its source (`kgtk cat`), which then becomes disturbed that its output file has been closed.

[2020-08-27 23:06] CraigMiloRogers commented on #132
The same thing happens if the input file is not ".gz"

[2020-08-27 23:07] CraigMiloRogers commented on #132
I've changed the code in KgtkWriter to ignore pipe errors on normal output writes (but not when writing .gz files."

[2020-08-27 23:07] #132 closed

[2020-09-01 03:28] CraigMiloRogers opened #133 "Enhancement for import-wikidata: Send to a Collector"
Currently, import-wikidata is structures as follows:
1) The managing process reads the input file, splits it into tasks, and sends the tasks to worker processes.
2) The worker processes process tasks and write output to worker-task-specific output files.
3) When all tasks are complete, the managing process concatenates all the worker-task-specific output files to construct the final output files.

[2020-09-01 03:29] CraigMiloRogers commented on #133
Pros: significant reduction in disk activity.
Cons: an extra inter-process serialization/deserialization that might be slower than the disk activity.

[2020-09-01 19:27] CraigMiloRogers opened #134 "Improve the speed of `kgtk filter`"
Improve the sped of `kgtk filter` in certain cases.

[2020-09-01 19:27] CraigMiloRogers commented on #134
Create specialized code for predicate-only single-value filters, for instance.

[2020-09-01 19:59] CraigMiloRogers commented on #134
The performacne improved by about 20%.

[2020-09-01 19:59] #134 closed

[2020-09-01 20:56] CraigMiloRogers commented on #131
No longer over-consuming memory.

[2020-09-01 20:56] #131 closed

[2020-09-01 20:57] CraigMiloRogers commented on #120
Committed.

[2020-09-01 20:57] #120 closed

[2020-09-02 01:46] CraigMiloRogers opened #135 "Bug in Wikidata import: Language Issues"
"simple" -- simple English.  Can we transform this to "en-x-simple"?

Language suffixes -- allow "-" internally.

Problems with language codes used in recent wikidata?

[2020-09-03 03:27] #83 closed

[2020-09-09 00:03] saggu opened #137 "Exception in kgtk add-id"
**Describe the bug**
Run this command

kgtk add-id -i [sample_kgtk_edge_file_with_id.tsv](https://github.com/usc-isi-i2/kgtk/blob/dev/kgtk/tests/data/sample_kgtk_edge_file_with_id.tsv) --new-id-column-name id_new --old-id-column-name id

Throws this exception:

`local variable 'new_id_column_name' referenced before assignment`

**Expected behavior**
An output file with a new column `id_new`

[2020-09-09 00:53] saggu opened #138 "Incorrect Exception in kgtk add-id ?"
**Describe the bug**
I specify an unknown `--id-style` option in `kgtk add-id`.
I expect to see `KGTKException` or `KGTKArgumentParseException`

Neither of these are thrown

**To Reproduce**
[code]

**Expected behavior**
I expect to see `KGTKException` or `KGTKArgumentParseException`

[2020-09-09 20:31] saggu opened #139 "kgtk cat output format: json-map produces invalid json"
**To Reproduce**
Steps to reproduce the behavior:
 kgtk cat -i [sample_kgtk_edge_file.tsv](https://github.com/usc-isi-i2/kgtk/blob/dev/kgtk/tests/data/sample_kgtk_edge_file.tsv) -o /tmp/cat.json --output-format json-map

The following output is produced, which is not a valid json. Notice the missing closing square bracket
[code]

**Expected behavior**
A valid json should be output

[2020-09-10 22:22] CraigMiloRogers commented on #139
I've pushed a fix into the dev branch.

[2020-09-10 22:24] CraigMiloRogers commented on #139
I've tested the fix, it seems to work.

[2020-09-10 22:30] CraigMiloRogers commented on #137
A fix has been pushed into the dev branch.

[2020-09-10 22:30] #137 closed

[2020-09-10 22:32] CraigMiloRogers commented on #138
I see the following:

kgtk add-id -i kgtk/join/test/lift-file10.tsv --id-style unknown
usage: kgtk add-id [-h] [-i INPUT_FILE] [-o OUTPUT_FILE] [--old-id-column-name COLUMN_NAME] [--new-id-column-name COLUMN_NAME]
                   [--overwrite-id [optional true|false]] [--verify-id-unique [optional true|false]]
                   [--id-style {node1-label-node2,node1-label-num,node1-label-node2-n

[2020-09-11 00:59] CraigMiloRogers commented on #139
The first attempt added the closing "]", but didn't remove the final ",".

[2020-09-11 01:22] CraigMiloRogers commented on #139
JSON output is now handled more precisely.

[2020-09-11 01:22] #139 closed

[2020-09-11 01:30] #138 closed

[2020-09-11 02:51] CraigMiloRogers opened #142 "`kgtk reachable-nodes` Should Use KgtkReader and KgtkWriter"
`kgtk reachable-nodes` does not use KgtkReader and KgtkWriter. It assumes that the sub/pred/obj columns are in the first three columns.  It may have othe rproblems reading KGTK files because it uses a CSV reader.

[2020-09-11 17:55] szeke commented on #142
Please update, this is an important command

[2020-09-11 20:44] saggu opened #143 "Automate docker image creation and push to pypi with every release"

[2020-09-14 22:57] CraigMiloRogers opened #144 "Unclosed KgtkReaders and KgtkWriters"
The unit tests reveal that KgtkReader and KgtkWriter aren't being closed in some code paths.  Sometimes this is the normal code path, sometimes it an an abnormal code path (e.g., raising an exception).

[2020-09-14 22:57] CraigMiloRogers commented on #144
I found and fixed a couple of these.

[2020-09-14 23:19] CraigMiloRogers commented on #144
I've closed the cases that appear in the current unit tests.

[2020-09-15 18:57] GreatYYX opened #145 "Bug in parsing ntriple prefix?"
**Describe the bug**
The `import-ntriples` parses the full URIs that should not be parsed when `--namespace-file` is set (if the output of URI needs to be compatible with RDF standard).

**Expected behavior**

In namespace file:
[code]

In the original nt file:
[code]

In the parsed file:
[code]

The expected result should be:
[code]

I added a question mark in the title because I don't know if we

[2020-09-16 21:35] szeke opened #146 "sort of gz file doesn't work"
The command with `gz` file doesn't work, exact same command with uncompressed file does work

If `kgtk --help` printed version number, I would report it here.

[code]

[2020-09-17 00:46] CraigMiloRogers commented on #146
Ah, that's the original `kgtk sort`. Please try `kgtk sort2`.

[2020-09-17 23:16] CraigMiloRogers opened #147 "Import Wikidata References"
Import wikidata references.

[2020-09-17 23:18] CraigMiloRogers opened #148 "Split Wikidata Per Property Type"
Split wikidata edge and qualifier files per property type.

[2020-09-17 23:21] CraigMiloRogers opened #149 "Split Wikidata per Property"
Explore creating separate edge and qualifier files for each property.

[2020-09-28 17:14] saggu opened #151 "command reachable-nodes should throw KGTKException"
**Describe the bug**
`graph-tools` not being installed, throws a `ModuleNotFoundException` which is not handled in KGTK. It should throw a KGTKException to inform users in a better way

**Desktop (please complete the following information):**
 - OS: Centos
 - Branch: `dev`

[2020-09-30 19:08] szeke opened #152 "Change the names of output files to include a prefix"
In notebooks Example7 and Example8 we generate the Wikidata products. Enhance the scripts to include the ability to provide a PREFIX that gets prepended to all files so we can specify the Wikidata date:

PREFIX = WD.20200928

Files will look like this for the Wikidata outputs
`WD. 20200928.part.external_id.tsv.gz`

and like this for the subset outputs
`WD. 20200928.Q7187.part.external_id.tsv.gz`

[2020-10-01 22:07] CraigMiloRogers opened #153 "Unit Test Error for text_embedding"
cd kgtk/tests && python3 -m unittest discover --verbose
Traceback (most recent call last):
  File "/home/rogers/elicit/github/kgtk/kgtk/cli/text_embedding.py", line 143, in main
    input_file = open(filename, "r") if str(filename) != "-" else sys.stdin
FileNotFoundError: [Errno 2] No such file or directory: '/Users/amandeep/Github/maa-analysis/MAA_Datasets/v3.2.0/10000.tsv'

[2020-10-01 22:10] saggu commented on #153
oops, this is not ready for unit tests, I have commented out the code for now

[2020-10-01 22:10] #153 closed

[2020-10-01 22:11] CraigMiloRogers opened #154 "kgtk query unit tests fail"
======================================================================
ERROR: test_kgtk_query__named_multi_graph_join (test_kgtk_query.TestKGTKQuery)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/data1/rogers/elicit/github/kgtk/kgtk/tests/test_kgtk_query.py", line 267, in test_kgtk_query__named_multi_graph_join
    df = pd.read_c

[2020-10-01 22:11] CraigMiloRogers commented on #154
======================================================================
ERROR: test_kgtk_query_biggest_salary (test_kgtk_query.TestKGTKQuery)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/data1/rogers/elicit/github/kgtk/kgtk/tests/test_kgtk_query.py", line 384, in test_kgtk_query_biggest_salary
    df = pd.read_csv(f'{self.temp_di

[2020-10-02 00:13] saggu commented on #152
so we are not doing this? Keeping the versions in different folders as we discussed in Today's KGTK meeting ? @szeke

[2020-10-05 03:43] szeke commented on #152
Let's keep the different versions in different folders, the file names do not change.

[2020-10-05 16:57] saggu commented on #154
@CraigMiloRogers it looks like the `kgtk query` command is failing altogether, do you have the latest from `dev` branch and have installed all the requirements from `requirements.txt` ?

[2020-10-05 16:59] saggu commented on #152
Closing this issue, using date based folder names for version control

[2020-10-05 16:59] #152 closed

[2020-10-05 19:27] CraigMiloRogers commented on #154
Adding the new required modules (parsley and odictliteral) solved the problems.  Thanks, I should have thought of this.

[2020-10-05 19:27] #154 closed

[2020-10-05 19:27] CraigMiloRogers commented on #149
Done.

[2020-10-05 19:28] CraigMiloRogers commented on #148
Done.

[2020-10-05 19:28] #148 closed

[2020-10-05 19:28] CraigMiloRogers commented on #149
Sorry, splitting by property type is complete, but not by property yet.

[2020-10-05 21:33] CraigMiloRogers opened #155 "Stable IDs for Wikidata Import"
Generate stable IDs during Wikidata import.  The ID value should change only when the the data changes.

[2020-10-05 21:35] CraigMiloRogers commented on #155
Problem: aliases are sequenced.

Discussion: Including the alias value in the ID might be too large and might contain problematic characters.

Solution: Include a hash of the alias value in the ID.  Retain a sequence number in case of hash collisions.

[2020-10-05 21:38] CraigMiloRogers commented on #155
Problem: properties are sequenced.

Discussion: The code allows for multiple instances of a property.  Need to sort by property, hash the value, and add a sequence number in case of collisions (or multiple entries due to different qualifiers).

[2020-10-05 21:39] CraigMiloRogers commented on #155
Problem: qualifiers are sequenced.

Discussion: order the qualifiers by qualifier property.  Add a hash for the qualifier value.  Add a sequence number in case of collisions.

[2020-10-05 21:41] CraigMiloRogers commented on #155
Problem: sitelinks are sequenced:

Discussion: order the sitelinks, then include a hash of the link in the ID.  Add a sequence number in case of collisions.

[2020-10-05 21:43] dgarijo commented on #155
@CraigMiloRogers what if there is a repeated qualifier? E.g., The units for a value are different, depending on the source of the statement. Then ordering qualifiers by qualifier property may be inconsistent, right?

[2020-10-12 22:36] CraigMiloRogers commented on #142
Conversion done.

[2020-10-12 22:36] #142 closed

[2020-10-12 22:38] CraigMiloRogers opened #157 "Bug in Wikidata import: Sigelinks are mangled, leading to ambuguity"
The sitelink import code  mangles the sitelink ingotmation.  This can lead to lost information and ambiguities.

[2020-10-12 22:40] CraigMiloRogers commented on #157
*** Sitelink collision #1 detected for Q4847311-wikipedia_sitelink-c4b49162 (http://.wikipedia.org/wiki/Template:Delete)

[2020-10-12 22:46] CraigMiloRogers commented on #102
The KGTK commands using graph_tools have been converted to use KgtkReader to read the input data.

[2020-10-12 22:46] #102 closed

[2020-10-12 22:47] CraigMiloRogers commented on #95
Not having precision leads to ambiguous Wikidata imports, leading to errors such as:

*** Qualifier collision #1 detected for Q13058108-P159-Q1354-q13058108$8e141cb0-e1aa-4524-894f-a99a70a8871b-0-P625-cb266092 (@23.728063/90.419591)

        "qualifiers": {
          "P625": [
            {
              "snaktype": "value",
              "property": "P625",
              "hash": "1a7acf837b779e72

[2020-10-14 00:12] CraigMiloRogers opened #158 "Improve CLI Consistency and Documentation"
Improve the consistency of the kgtk commands.

[2020-10-14 00:14] CraigMiloRogers commented on #158
`kgtk compact`:
 --columns should limit the set of compacted columns
--key-columns should list the columns treated as key columns (default id for node file, node1|label|node2 for edge file).
There should not be any overlap between these two options./

[2020-10-14 00:14] CraigMiloRogers commented on #158
`kgtk expand`:
--columns should limit the set of compacted columns
--key-columns should list the columns treated as key columns (default id for node file, node1|label|node2 for edge file).
There should not be any overlap between these two options.

[2020-10-15 01:29] CraigMiloRogers commented on #158
`kgtk compact` and `kgtk sort2` have different default sorting orders for edge files with id columns.

[2020-10-15 01:29] CraigMiloRogers commented on #158
`kgtk sort2` should use --key-columns

[2020-10-15 01:31] CraigMiloRogers commented on #158
We need `kgtk deduplicate`, as people don't understand how to use `kgtk compact` for deduplication.

[2020-10-15 03:03] dgarijo opened #159 "KGTK filter does not work in dev branch"
**Describe the bug**
The following cell from the example 5 notebook produces error:
[code]

produces:
[code]
However, there are 2 semicolons as requested.

**To Reproduce**
This notebook does not work (built on dev branch)
https://mybinder.org/v2/gh/usc-isi-i2/kgtk/dev?filepath=examples%2FExample5%20-%20AIDA%20AIF.ipynb

**Expected behavior**
This notebook, pointing to master branch, works:
https:

[2020-10-15 03:39] CraigMiloRogers commented on #159
The input file should come first, or it should be preceeded by `-i` or `--input-file`.

[2020-10-15 04:34] dgarijo commented on #159
Thanks, I will assign part of the issue to myslef to fix all notebooks with filter

[2020-10-15 17:30] CraigMiloRogers opened #160 "`kgtk import-conceptnet` is confused about documenting its input file"
`kgtk import-conceptnet` is confused about documenting its input file.  The code calls the standard input file argument creator, whioch calls it a KGTK file.  The jupyter notebook calls it a `.csv` file.  Internally, the call uses csv.reader, but uses tab as a delimiter;  there doesn't appear to be a header line.

[2020-10-15 17:45] CraigMiloRogers opened #161 "Example 7: system pieline vs KGTK pipeline?"
"source": [
    "!$kgtk cat --mode NONE -i $TEMP/P279star.1.tsv.gz $TEMP/P279star.2.tsv.gz $TEMP/P279star.3.tsv.gz $TEMP/P279star.4.tsv.gz \\\n",
    "    | kgtk compact \\\n",
    "    | kgtk sort2 \\\n",
    "    | kgtk add-id --id-style node1-label-node2-num \\\n",
    "    | gzip > $OUT/all.P279star.tsv.gz"

[2020-10-15 17:56] szeke commented on #161
I could not get it to work with a KGTK pipeline, I think the sort was a problem. It should be a KGTK pipeline

[2020-10-15 18:25] CraigMiloRogers opened #162 "`kgtk query` Silently Fails if sqlite3 Is Not Found"
155% kgtk query -i xxx.tsv -i yyy.tsv

156% kgtk --debug query -i xxx.tsv -i yyy.tsv
[2020-10-15 11:22:23 sqlstore]: IMPORT graph via csv.reader into table graph_21 from /data1/rogers/elicit/github/kgtk/xxx.tsv ...
Traceback (most recent call last):
  File "/home/rogers/elicit/github/kgtk/kgtk/kypher/sqlstore.py", line 554, in add_graph
    self.import_graph_data_via_import(table, file)
  File "/h

[2020-10-15 18:41] CraigMiloRogers opened #163 "`kgtk query` gives and unobvious error message when fed an empty input file"
176% kgtk query -i xxx.tsv
string index out of range

177%

[2020-10-15 18:47] CraigMiloRogers commented on #158
`kgtk sort2` needs an `.md` file, and/od it should replace `kgtk sort`.

[2020-10-15 19:49] chalypso commented on #163
query assumes a valid KGTK input file or stream

[2020-10-15 19:55] chalypso commented on #162
It is saying sh.CommandNotFound: sqlite3 which is what it is supposed to do, which is not silent in my book.  It looks like you need to install sqlite3 which is standardly installed in conda environments but maybe you are not using conda.  The testing for the availability and appropriate version of sqlite3 across platforms is not finished yet.

[2020-10-15 21:03] dgarijo opened #164 "kgtk text_embedding error"
**Describe the bug**
In the Example 1 (embeddings) I got an error when executing:

[code]
Error:
[code]
It took a while, so I would say the error happened when the results were dumped into disk.

**To Reproduce**
I ran the version in the master branch and executed example 1 through a Docker container.

**Expected behavior**
The error should not appear.

[2020-10-15 21:58] CraigMiloRogers commented on #161
sort2 ought to work. I'll have to test it.

[2020-10-15 22:35] CraigMiloRogers commented on #163
It should provide polite guidance when its assumptions are not met!

[2020-10-15 22:40] CraigMiloRogers commented on #162
When `--debug` wasn't present, the failure was totally silent.  When I added `--debug` I received more useful feedback.

[2020-10-15 22:44] dgarijo commented on #164
Note: import conceptnet works fine. I am testing now which of the commands is leading to the error.

[2020-10-16 04:06] dgarijo commented on #159
Since all notebooks have been adapted, this issue has been fixed in the `dev` branch. Thanks @CraigMiloRogers !

[2020-10-16 04:06] #159 closed

[2020-10-16 04:11] dgarijo commented on #164
More information about this issue:
I have verified that the error was on `kgtk text_embedding`. Apparently the previous commands add the column `relation` instead of `label`. By doing `sed -i '1!b;s/relation/label/' heads.kgtk` I created a file replacing `relation` with `label`. The embeddings are still calculating on a server, but it looks like the error is gone (before it didn't get this far in

[2020-10-17 22:42] dgarijo opened #165 "Examples should be lighter to run"
Some of the examples we have now require too much processing power or memory to demonstrate the capabilities of KGTK. I think we should have a version of the notebook that where quick to run (e.g., a few minutes at most). We can still have the bigger notebooks, but having a smaller example test would make it easy to test on each release.

[2020-10-19 16:55] dgarijo opened #166 "using gzcat in examples (e.g., example 4)"
**Describe the bug**
`gzcat` command does not exist in the Debian distribution where we are running our containers. Instead, the `zcat` command is used. We should add a note to the notebooks using gzcat explaining this. Otherwise they will show an error.

**To Reproduce**
Try to run example 4 as a Docker container. The notebook will fail because gzcat is not installed (and cannot be found).

[2020-10-19 18:10] dgarijo opened #167 "Notebook 6 /examples is missing a dataset link"
**Describe the bug**
The wt.10000 file mentioned in the notebook is not made available anywhere. It should be this dataset: https://drive.google.com/file/d/1gXYFqyqPtjvfYvFjHl53sKMF0Y489JHz/view?usp=sharing

We have to update the notebook and re-test the execution.

[2020-10-19 22:47] szeke commented on #166
Sigh, isn't there a way install the gnu tools

[2020-10-19 23:05] dgarijo commented on #166
According to @saggu, we should use `kgtk cat`, which is addresses all these issues. Will have to test and update notebooks.

[2020-10-20 17:53] saggu opened #168 "Update documentation for generate_wikidata_triples"
https://kgtk.readthedocs.io/en/latest/export/generate_wikidata_triples/

specifically,

[code]
input_file.tsv is repeated for cat

[2020-10-20 18:36] dgarijo commented on #168
I fixed this in dev.

[2020-10-20 18:44] saggu commented on #168
Ah, I see. Thanks @dgarijo . Closing this issue then

[2020-10-20 18:44] #168 closed

[2020-10-20 18:54] dgarijo commented on #168
(I did it based on the issue, since it was a super quick fix)

[2020-10-20 22:36] dgarijo opened #169 "Notebook 4 is missing a link to a data file"
**Describe the bug**
The notebook 4 has a reference to this file:
```!gzcat "$WD/wikidata-pagerank-only-sorted.tsv.gz" | head```

But there is no information on where to gather it. I made it available here: https://drive.google.com/file/d/1m4x3Wpl8armvao6RCWlNyVT_IfpdHhHJ/view?usp=sharing

[2020-10-21 03:59] CraigMiloRogers opened #170 "`kgtk sort2` Should Support Automatic Compression on Output"
`kgtk sort2` should look for `.gz`, `.bz2`, etc. extensions on the output file and automatically pipe the output data through the proper compression program.

[2020-10-21 04:03] CraigMiloRogers commented on #170
`gzip` doesn't have an output file option.  Same for `bzip2`. We an use a shell pipe and shell redirect in the main command string assembly to avoid passing the data through Python.

[2020-10-21 16:32] dgarijo commented on #169
@szeke, the notebook also mentions afile `wikidata_labels.tsv` which I am not sure where it comes from. Is it this label file?

https://drive.google.com/file/d/1lihRjbAuwGEDAmz_dvH8kKidvMvd1q7D/view?usp=sharing

[2020-10-21 16:41] dgarijo commented on #167
And also the wt edge file is missing: https://drive.google.com/file/d/1mCWFADxNnJwi4oIk8rhUBe3MA6o0AVvx/view?usp=sharing

[2020-10-21 19:34] szeke commented on #167
Not sure, but the file name is so distinct that it must be that one

[2020-10-21 19:35] szeke commented on #169
Let's assume it is that one.

[2020-10-21 20:02] dgarijo commented on #169
Other problems: We need to update the command to the latest version. For example the notebook uses `rename_col`. Instead, it should use:

[code]

[2020-10-21 20:51] dgarijo commented on #169
Another problem:
```!time kgtk cat "$MY/wikidata_labels_etc.tsv" $MY/pagerank.tsv | gzip > $MY/pagerank-and-labels.tsv.gz```

`pagerank.tsv` should be the extracted file from `$MY/wikidata-pagerank-only-sorted.tsv.gz`. Or can we use a kgtk command to use the file compressed (`gzcat`?)

[2020-10-21 23:29] dgarijo commented on #167
Another error. When executing through Docker, the grep command in
[code]
has to be transformed to (note that I added the file directly due to the previous error):

[code]

[2020-10-21 23:53] dgarijo opened #171 "Notebook documentation: improvements when running with Docker"
**Describe the improvement**
There are a few things that were tricky for me when using the notebooks these days:

1) KGTK  works on a local computer, but sometimes people will run it in a server. All our notebooks rely on Google drive files that are difficult to download with `wget`. However, I found a trick that works in Unix:

[code]
So we should update the notebooks with a hint on this.

2) I h

[2020-10-22 19:58] dgarijo commented on #169
It looks like the solution from my previous comment is the right one, but has to be updated in the

Another problem: Cell 17 is something like
[code]

However, the wikidata-pagerank-only-sorted.tsv was generated under an old version, and it does not contain a `label` column. Instead contains a `property` column. Solution 1: change the notebook to add a sed command to change the first line of the f

[2020-10-22 22:08] kyao opened #172 "`kgtk sort2` generates `Illegal option -u` error"
On the `dev` branch `kgtk sort2` command generates `/bin/sh: 1: read: Illegal option -u` error on Ubuntu. This does not happen with the `sort` command

[code]

[2020-10-22 23:27] CraigMiloRogers commented on #170
Completed and merged into the dev branch.

[2020-10-22 23:27] #170 closed

[2020-10-22 23:42] CraigMiloRogers commented on #172
Interesting. Do you happen to know which default shell you are using?

[2020-10-22 23:46] kyao commented on #172
I use bash

[2020-10-22 23:48] CraigMiloRogers commented on #172
I'll explicitly requore bash.

[2020-10-22 23:48] #172 closed

[2020-10-23 01:23] dgarijo opened #173 "Errors in import-wikidata command old dumps"
**Describe the bug**
Using the latest code in the `dev` branch, I tried to import some json dumps of Wikidata:
[code]
I tried from a few months/years. All the ones ending in `json.gz` seem to fail. Example of one of the errors with the file above:

[code]

Another error that is the most frequent (makes the workers exit). These happened in most of the dumps I tried:
[code]
I updated the Google driv

[2020-10-23 01:27] dgarijo opened #174 "import-wikidata results in multiple kgtk files instead of one"
**Describe the bug**
I am running the import, and this is what I see:
[code]
I would expect that by the time the import ends, I would end up with 3 files (nodes, edges and qualifiers); and not 9. @CraigMiloRogers explained to me that this happens because I do not have `pyrallel`. Then I think we should merge it when possible.

[2020-10-23 02:47] dgarijo commented on #174
When the import completes, everything is joined. This is not an issue

[2020-10-23 02:47] #174 closed

[2020-10-23 02:55] CraigMiloRogers commented on #164
`kgtk text-embedding` now uses KgtkReader, and recognizes the `relation` column.

[2020-10-23 02:55] #164 closed

[2020-10-23 02:57] CraigMiloRogers opened #175 "`kgtk import-wikidata` Should Generate Fewer Columns"
Generate a main edges file with just [id, node1, label, node2]. Place the `rank`, `node2;wikidatatype`, and "full" columns in one or more other files.

[2020-10-23 03:00] CraigMiloRogers commented on #175
`node2;wikidatatype` should already be available in the property-datatypes file.  Validate that `node2;wilidatatype` values in the edge file, `all.tsv`, matches the values in `property-datatypes.tsv`.

[2020-10-23 03:02] CraigMiloRogers commented on #175
Put the `rank` column and the `full` columns needed to create a TimeMachine wikidata export file into a seperate file. Why not a node file with the edge file's id?

[2020-10-25 16:50] CraigMiloRogers opened #176 "Generalize `kgtk lower` column recognition"
1) `kgtk lower` should automatically lower `;*' instead of just `;label`.
2) If an additional column doesn't fit this pattern, and there is an `id` column present, normalize the secondary edge
    1) Perhaps this should be in a separate command, `kgtk normalize-edges`, as `kgtk lower` was intended to invert `kgtk lift`
3) Give options to automatically generate ID values for the new edges `kgtk low

[2020-10-25 20:00] szeke commented on #176
I think lift should be generic too. Let's use the word relation for `node1/relation/node2` so we don't get confused with the ambiguous meaning of `label`.

The `lift` command should accept a list of symbols that can appear in the relation column and lift them as headers.

Suppose I have edges as:

[code]

We will get 3 new columns:

- `node1;rel`
- `node2;rel`
- `rel`

The above 3 edges will disap

[2020-10-25 22:09] CraigMiloRogers commented on #176
Yes.  Right now there are some expert options to `kgtk lift`, but they don't work quite as well as what you described.

[2020-10-25 22:14] CraigMiloRogers opened #177 "Generalize `kgtk lift` to lift multiple relations concurrently."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-26 19:32] CraigMiloRogers commented on #176
Generalized lowering and normalization changes have been committed. ID generation is still pending.

[2020-10-27 01:37] filievski opened #178 "KGTK EdgeReader fails for text-embedding"
**Describe the bug**
The following command fails with the file `sorted.tsv` which has a version of the first 1000 edges in CSKG with their labels 'lowered' and then sorted.

The error I am getting happens at file reading time, and seems to be connected to the KGTK reader classes:

[code]

**To Reproduce**
[code]

**Expected behavior**
I expected to see file which for each node contains its embeddi

[2020-10-27 02:59] CraigMiloRogers commented on #178
There was a missing line of code! And a typo just after that.

[2020-10-27 03:05] CraigMiloRogers commented on #178
And another typo!  And an unwarranted assumption!

[2020-10-27 03:09] CraigMiloRogers commented on #178
[cskg_embedings.txt](https://github.com/usc-isi-i2/kgtk/files/5442707/cskg_embedings.txt)

[2020-10-27 03:09] CraigMiloRogers commented on #178
Fixed, I think.

[2020-10-27 03:09] #178 closed

[2020-10-27 16:52] filievski opened #179 "Text-embedding labels not generated properly"
**Describe the bug**
`kgtk text-embedding` generates sentences that use the edge label rather than its value (node2):
```/c/en/10_downing_street	embedding_sentence	10 downing street is label, label label.```

**To Reproduce**

[code]
**Expected behavior**
The expected output for the above sentence should have been:
```/c/en/10_downing_street	embedding_sentence	10 downing street is building and par

[2020-10-27 18:09] CraigMiloRogers commented on #179
The problem derives from `get_real_label_name(node)` in `gt/embeddings_utils.py`, which returns `node` if `node` is not found in `self.node_labels.

[2020-10-27 18:14] CraigMiloRogers commented on #179
Several callsites are involved:

attribute_dict["description_properties"][0]
self.get_real_label_name(node_value)
temp_list: typing.List[str] = [self.get_real_label_name(each) for each in attribute_dict["has_properties_values"]]
attribute_dict["isa_properties"]

In each of these cases, the code doesn't appear to consider the case that a label isn't available.

[2020-10-27 18:17] CraigMiloRogers commented on #179
I could make the code not generate an output sentence when these slots cannot be filled. Is that acceptable?

[2020-10-27 18:18] saggu commented on #179
@CraigMiloRogers is the problem is that the label is not present for a Qnode, then @filievski can update his input file for labels to include that

[2020-10-27 18:19] saggu commented on #179
The code is behaving correctly, if the label is not present, return the node.

[2020-10-27 18:20] CraigMiloRogers commented on #179
The node is "label", which then appears in the output, which @filievski complained about.

[2020-10-27 18:22] CraigMiloRogers commented on #179
OK, what if I make the code give some feedback to aid @filievski in updating his label files?

[2020-10-27 18:25] saggu commented on #179
@filievski is saying that instead of using the value from the column, `node2`, the code is instead using the value from column `label`. I think text embedding has an incorrect index for column `node2`.

@CraigMiloRogers do you the input files to test it out ?

[2020-10-27 19:05] CraigMiloRogers commented on #179
Yes, I just reached the same understanding. Another error in my hasty conversion to use KgtkReader. Need a unit test.

[2020-10-27 19:07] CraigMiloRogers commented on #179
Fixed, I think.

[2020-10-27 19:07] #179 closed

[2020-10-29 20:05] CraigMiloRogers opened #180 "Process `.kgtk` the same as `.tsv`"
Since KGTK File Format has encoding constraints on top of normal TSV (tab-separated variable) files, use the extension `.kgtk` to keep track of valid KGTk files.

[2020-10-29 23:15] filievski opened #181 "`text-embedding` should be: 1) split into `node-sentences` and `text-embedding`; 2) made easier to use (less compulsory parameters)"
The `text-embedding` command now generates sentences and computes embeddings. Having the sentences pre-computed is preferred.

The `node-sentences` command would take a KGTK file as input and output a sentence for each node. The text-embedding parameters that choose relations for the sentences should go to this command. This command does not need to be parallelized.

The `text-embedding` command w

[2020-10-29 23:28] CraigMiloRogers commented on #155
This problem is mostly resolved.  We generate stable IDs that will change when the entry changes. The remaining problems are ID collisions, which seem  to mainly be due to instances where the KGTK data type system doesn't support Wikidata's dta type system.

[2020-10-29 23:30] CraigMiloRogers commented on #146
`kgtk sort2` now accepts `.gx` on input and output files.

[2020-10-29 23:30] #146 closed

[2020-10-29 23:35] CraigMiloRogers commented on #133
The collector approach worked well on a workstation with sufficient CPUs.

[2020-10-29 23:35] #133 closed

[2020-10-31 01:11] CraigMiloRogers commented on #180
No significant changes needed.

[2020-10-31 01:11] #180 closed

[2020-10-31 01:13] CraigMiloRogers opened #182 "`kgtk lower` should generate ID values"
`kgtk lower` should optionally generate ID values for new edges (and optionally for all edges).

[2020-10-31 01:13] CraigMiloRogers commented on #182
@szeke requested this functionality.

[2020-10-31 01:14] CraigMiloRogers commented on #176
I split the ID generation into a separate issue.

[2020-10-31 01:14] #176 closed

[2020-11-05 15:55] szeke opened #183 "Rename wikidata types to be consistent with Wikidata SPARQL endpoint"
The Wikidata SPARQL endpoint uses the following names:
[code]

[2020-11-06 04:53] saggu opened #184 "kgtk text-embedding's -o option is not consistent with other commands"
This command will try to create a weird output path and will crash out
[code]

This is current correct way
[code]
kgtk text-embedding -i $maa_path/maa_subgraph_v3.3.1_sorted.tsv --model roberta-large-nli-mean-tokens \
  --property-labels-file $maa_path/labels_only_v3.3.1.tsv --parallel 1 --debug \
  --isa-properties P31 P279 P106 P39 P1382 P373 P452 --save-embedding-sentence  > maa_subgraph_v3.3.1

[2020-11-06 05:03] szeke opened #185 "Simplify Wikidata parts, remove part.property.*"
The current partitioning creates separate files for node1s that are properties. This distinction is unnecessary as it is easy to identify properties using the `property.datatype.tsv` file

[2020-11-06 17:35] CraigMiloRogers commented on #185
@szeke Do you really want me to remove the file with the property labels?

[2020-11-06 17:39] szeke commented on #185
Good catch, it is no longer red and scratched out

[2020-11-06 17:46] CraigMiloRogers commented on #183
@szekely The wikidata types we use, both in the imported data and in the files names, are what appear in the Wikidata JSON file. They are the values that appear in the wikidata documentation: https://www.wikidata.org/wiki/Help:Data_type

[2020-11-06 18:12] szeke commented on #183
Are you saying that the specific names you use appear in the JSON file? If that is the case, it is unfortunate, as the names I put in the issue are the names used in the SPARQL endpoint.

[2020-11-06 18:13] CraigMiloRogers commented on #183
Yes, the specific names I use are the ones that appear in the JSON file.  They are documented in: https://www.wikidata.org/wiki/Help:Data_type

[2020-11-06 18:14] CraigMiloRogers commented on #183
I've been looking for straightfoward translation between these datatypes and the SPARQL datatypes in the online documentation.  I haven't found one yet.  The Wikidata SPARQL documentation seems incomplete.

[2020-11-06 18:18] CraigMiloRogers commented on #183
The Wikidata RDF dump format uses the same property types as the JSON dump format.  This is documented in https://www.mediawiki.org/wiki/Wikibase/Indexing/RDF_Dump_Format#Value_representation

[2020-11-06 18:21] CraigMiloRogers commented on #183
When reading these documents, it is important to keep in mind that there are *two* datatype systems:  the datatype of the property, and the datatype of the property's value. For example, External Ids are associated with property type `external-id` and value type `string`.  As far as I can tell, the value type identifies the lexical parser to use when reading the value, while the property datatype

[2020-11-06 18:28] szeke commented on #183
The specific issue is the format used for the following:
[code]
The names above are the names used in the SPARQL endpoint. The names you use appear in the JSON dump?

[2020-11-06 18:32] CraigMiloRogers commented on #183
Yes, the names I use appear in the JSON dump.

[2020-11-06 18:58] CraigMiloRogers commented on #183
@szeke In your list of labels, is `GlobeCoordinate` really supposed to be `Globecoordinate`? If so, then I understand there these Identifiers come from.  They are the wikibase:PropertyType values that appear in the `.ttl` (RDF) export files.

[2020-11-06 18:58] szeke commented on #183
Sigh, can we list both names in the file, using two properties, listing both spellings. They made it harder for us.

[2020-11-06 19:04] CraigMiloRogers commented on #183
The ontology file, http://wikiba.se/ontology# , lists most of thes...but not MusicalNotation.  It's not in the published ontology.  However, the published ontology mentions that there are extensions, using Math as an example.  I susoect MusicalNotation is another extension.

[2020-11-06 19:15] szeke commented on #183
We want to support all the types that are present in the dump

[2020-11-06 19:54] CraigMiloRogers commented on #183
Which I am doing empirically, by looking at all the types present in the dump.  We need to be alert in case new types are added.

[2020-11-06 19:56] CraigMiloRogers commented on #183
Would it be sufficient to have a translation file that translates the JSON dump names (used by `kgtk import-wikidata`) to the TTL dump names (used by the SPARQL endpoint)?

[2020-11-06 19:58] CraigMiloRogers commented on #183
I have to build such a file before lifting the SPARQL names as labels into other rows.

[2020-11-06 20:07] CraigMiloRogers commented on #183
[code]

[2020-11-06 20:23] CraigMiloRogers commented on #100
Closing this issue. The underlying problem was incocsistent formatting of user data.

[2020-11-06 20:23] #100 closed

[2020-11-06 20:32] CraigMiloRogers opened #186 "ID Collisions in Wikidata Import"
There are ID collisions on Wikidata import, largely because the KGTK File Format does not fully support Wikidata's datatypes.  Information is lost, causing the collision.

[2020-11-06 20:33] CraigMiloRogers commented on #155
I split the ID collisions into a new issue.

[2020-11-06 20:33] #155 closed

[2020-11-06 20:34] CraigMiloRogers commented on #112
Closing this issue.

[2020-11-06 20:34] #112 closed

[2020-11-06 20:36] CraigMiloRogers opened #187 "Wikidata Import Misses Some Sitelinks"
`kgtk import-wikidata` uses a questionable heuristic when importing sitelinks.  Some sitelinks are being lost and/or mislabeled as a consequence.

[2020-11-06 20:39] CraigMiloRogers commented on #183
I've pushed this file into `dev`: `wikidata/wikidata-sparql-property-names.kgtk`.

[2020-11-06 20:44] CraigMiloRogers commented on #124
Fixed, I think.

[2020-11-06 20:44] #124 closed

[2020-11-06 23:29] CraigMiloRogers opened #188 "mgzip Uses Too Many Threads"
By default, mgzip uses one thread per processor.  This is too many.

Add a control to limit the number of threads used by mgzip.  Set the defautltvalue to 3.

[2020-11-07 00:13] CraigMiloRogers commented on #188
--mgzip-threads=## implemented.

[2020-11-07 00:13] #188 closed

[2020-11-08 04:34] szeke commented on #130
Isn't this issue complete, ore redundant with the recent issue #183 ?

[2020-11-08 04:40] szeke opened #189 "All Wikidata parts should be sorted by node1"
Some of the expensive processing commands such as `ifnotexists` demand sorted files for efficiency. We might as well publish all files in `node1/label/node2/id order` (or whatever is the default order in `sort2`

[2020-11-08 06:58] CraigMiloRogers opened #190 "`kgtk sort2` should have options for the common --extras"
We frequektly pass `--parallel nnn`, `--buffer-size xxx`, and `-T xxx` to the underlying `gsort`. Raising these to individual options will make them easier to handle in scripts, and will make it easier to teach users about these options.

[2020-11-09 20:19] CraigMiloRogers commented on #189
On the other hand, the qualifier extraction step in partition-wikidata relies on matching `node1` in the full `qual` file with `id` in the parts (`string`, etc.).  This works when the parts are sorted by `id` first. but would not work when the parts are sorted by `node1/label/node2/id`, on account of the hashing that has been introduced to keep IDs short.

[2020-11-09 20:21] CraigMiloRogers commented on #189
We may need multiple sorts of the partitioned data. In turn, I need a naming convention to distinguish them.  I think it would be safe to name the first column of the sort: `id` for `id/node1/label/node2` and `node1` for `node1/label/node2/id`.

[2020-11-09 21:24] CraigMiloRogers opened #191 "Inconsistent Kernels in Jupyter Notebooks"
There are issues in our scripts regarding the default `kernel`:
Example1 through Example6 use `python3`
Example7 uses `kgtk`
Example8 uses `kgtk`
Example-9 uses `kgtk_env`
Example 11 uses `conda-env-kgtk-env-py`
Example12 uses `kgtk`

[2020-11-09 22:21] CraigMiloRogers commented on #185
Done in the new partition-wikidata Jupyter notebook.

[2020-11-09 22:23] CraigMiloRogers commented on #183
Closing this issue. If we need to lift the SPARQL names into a column in certain files, we'll create a new issue.

[2020-11-09 22:23] #183 closed

[2020-11-09 22:23] #185 closed

[2020-11-09 22:24] CraigMiloRogers commented on #130
I want to cross-check the per-property value with the value in the claims edges. I'll open a new issue for this.

[2020-11-09 22:24] #130 closed

[2020-11-10 18:29] CraigMiloRogers commented on #189
Pedro has elected to sort the published parts by `id/node1/label/node2` without a special naming convention.

[2020-11-10 18:29] #189 closed

[2020-11-10 23:04] szeke opened #192 "Write command to combine edges and qualifier files"
The `combine-with-qualifiers` command should take two files as input:

- An `input` edge file containing arbitrary edges. This command treats all edges in the input file as top edges.
- A `qualifier` file, where the `node1` symbols match ids in the edge file. It is possible that some `node1`s in the qualifier file have no corresponding `id` in the edge file.

The output is a single file that combi

[2020-11-10 23:05] szeke opened #193 "Create v4 of Wikidata with the 20200803 Wikidata dump"
Version 4 of the Wikidata dataset should use the simpler partitioning scheme where there are no separate files for properties. Also, the `all.tsv` file should contain all claims/statements in a Wikidata dump. The `v3 all.tsv` file does not contain the edges where node1 is a property

[2020-11-10 23:09] dgarijo commented on #192
I guess this is for the wikidata import command (just adding a description because there is none)

[2020-11-10 23:56] CraigMiloRogers commented on #192
They way the current system works is this:
- the top edge records, which I'm currently calling "claim edges", have an ID that is composed of a particular pattern.
  - the id pattern starts with node1 and label, then has either the node 2 value if the node2 value is Qxxx or Pxxx, or it has a hash of the node2 value.
  - This is followed by the claim hash, rehashed, followed by a decollision counter

[2020-11-10 23:58] CraigMiloRogers commented on #192
If you want to subset the qualifier edges to just the ones that appear in the claims edges, that can be done with `kgtk ifexists --presorted` so long as both input files are sorted on the `id` field.
 - The qualifier file is supposed to be sorted on the node1 field, but since the id field begins with the node1 field's value, there's no difference.

[2020-11-11 00:02] CraigMiloRogers commented on #192
There are examples of this `kgtk ifexists` pattern in the latter part of the `partition-wikidata` Jupyter notebook (the most recent version of which is `partition-wikidata-language-regex`).  I've just pushed the latest updates into the `dev` branch.

[2020-11-11 00:07] CraigMiloRogers commented on #193
I hope to mane `all.tsv` contain all edges, including aliases, labels, descriptions, sitelinks, datatypes, and the extra edges needed to export a new Wikidata JSON file. In this scheme, `part.claims.tsv` should contain all edges except aliases, labels, descriptions, sitelinks, datatypes, etc.

[2020-11-11 00:22] CraigMiloRogers opened #194 "Create a partition-wikidata Jupyter notebook."
Convert the partition-wikidata shell scripts into a Jupyter notebook, which should include documentation.

The input file is a single KGTK edge file containing a complete set of Wikidata edges: claims, qualifiers, aliases, labels, descriptions, labels, sitelinks, and optionally the other edges needed to expert the Wikidata as a JSON file again.

[2020-11-11 15:22] CraigMiloRogers opened #195 "Fix, Fork, Fake, or Forget Pyrallel"
`kgtk import-wikidata` requires a version of pyrallel that incorporates various bug fixes and enhancements. This version has been in the `dev` branch of the usc-isi-is/pyrallel GitHub repository since September 2020. Prior to making a new, clean release of the current KGTK software, one of the following actions should take place:
 1) The pyrallel repository merges its `dev` branch into its `master

[2020-11-11 19:50] GreatYYX commented on #195
Sorry I forgot about this. There are still some issues left: e.g., older python version (< 3.8) compatibility. Maybe it can have a special release branch only for KGTK.

[2020-11-12 08:02] CraigMiloRogers opened #196 "Check for Missing Entity Definitions, etc. in a Wikidata Import"
Check whether all Wikidata entities in the label and node2 columns of the claims and qualifiers have a matching claim in the node1 column.  In particular, verify this for properties. For those entities that do not have a defining claim, check if they have a label.

Other things to check:
 - Are there qualifiers without matching claims?
 - Are there aliases, descriptions, labels, or sitelinks witho

[2020-11-12 08:25] CraigMiloRogers commented on #194
TODO: Change the output file names to ones agreed to on 10-Nov-2020.

[2020-11-12 23:36] CraigMiloRogers commented on #192
The purpose of this command is to prepare files for exporters that require that qualifiers immediately follow the edges they qualify, *without* imposing constraints on the patterns used for IDs.

[2020-11-13 17:28] CraigMiloRogers opened #198 "Build a file mapping Wikidata property datatypes to Wikidata value datatypes"
Wikidata maps properties to property datatypes (two flavors: JSON and TTL), and maps property datatypes to value datatypes. It appears that each property datatype has only one value datatype.

Build a file that maps Wikidata property datatypes (in the JSON flavor) to Wikidata value datatypes. The file could be a KGTK file, or perhaps a JSON file for simplicity.

[2020-11-13 17:31] CraigMiloRogers opened #199 "KgtkReader: Read JSON and JSON Lines"
Enhance KgtkReader to read JSON and JSON Lines files.  JSON and JSON Lines files written by KgtkWriter should be readable by KgtkReader.

[2020-11-13 17:33] CraigMiloRogers opened #200 "KgtkReader: Read MD files"
Enhance KgtkReader to read MD files written by KgtkWriter.

[2020-11-13 17:39] CraigMiloRogers opened #201 "Fix Bug in Regex Filter"
Regex filters are throwing exceptions.  The exceptions indicate short lines. The problems may be in the input file itself, in which case some other component may be at fault.
[code]

[2020-11-13 17:46] CraigMiloRogers opened #202 "`kgtk import-wikidata`: Validate the mapping from Wikidata property datatype to Wikidata value datatype"
Optionally read a file mapping Wikidata property datatypes to Wikidata in `kgtk import-wikidata` (see issue #198). Use it to verify that the Wikidata property datatypes in the input file are associated with the expected Wikidata value datatypes.

If an input record fails the validation, optionally:
1) throw and exception, or
2) reject the input statement, or
3) ignore the error.

[2020-11-13 17:48] CraigMiloRogers opened #203 "`kgtk import-wikidata`: Optionally Write a Reject File"
When `kgtk import-wikidata` encounters a problem processing an input statement, optionally write that statement to a reject file in JSON Lines format.

This will help debug problems with older Wikidata dumps.

[2020-11-13 17:56] CraigMiloRogers opened #204 "`kgtk import-wikidata`: Eliminate val_type Column"
Once `kgtk import-wikidata` validates the mapping between WIkidata property type and Wikidata data type (see issue #202), and `kgtk export-wikidata` uses the same mapping, a field (val_type, I think) can be dropped from the detailed edge file format.

[2020-11-13 18:00] CraigMiloRogers opened #205 "`kgtk export-wikidata`: Use the mapping from Wikidata property datatype to Wikidata value datatype"
Enhance `kgtk export wikidata` to read a file with the mapping between Wikidata property datatypes and Wikidata value datatypes (see issue #198). Use this mapping to supply the Wikidata value datatype information in the output Wikidata JSON dump file.

[2020-11-13 18:12] CraigMiloRogers opened #206 "`kgtk import-wikidata`: Validate the Mapping from Property to Wikidata Property Datatype"
Enhance `kgtk import-wikidata` to build an in-memory mapping between properties and Wikidata property datatypes. Build the mapping from property uses as well as property definition statements. Optionally write the mapping as datatype edges (retain compatibility with current code).  Optionally seed the mapping by reading a datatype edge file.

Optionally reject input statements with inconsistent ma

[2020-11-13 18:51] szeke opened #207 "Create initial Wikidata subset as KGTK files to support all downstream services"
Done in https://github.com/usc-isi-i2/kgtk/blob/dev/examples/Wikidata%20Subsets.ipynb

Data published to the KGTK drive in datasets/wikidataos-v1

[2020-11-13 19:00] dgarijo commented on #207
Why not in the public dataset drive? Is this not supposed to go in https://usc-isi-i2.github.io/wikidata-kgtk-releases/website/index.html?

[2020-11-13 19:11] szeke commented on #207
Yes, will go there. The current files are preliminary as they are missing the edges for the properties. Once we debug it we will put it in the public site.

[2020-11-13 20:50] CraigMiloRogers opened #208 "`kgtk unique --presorted`"
The memory consumption of `kgtk unique` can be greatly reduced for large files by adding a `--presorted` flag and optimized code.

[2020-11-14 00:56] dgarijo commented on #173
Today I have experienced this error also in a dump from 2017:

[code]

[2020-11-14 01:44] CraigMiloRogers commented on #208
Merged into the dev branch.

[2020-11-14 01:44] #208 closed

[2020-11-14 07:02] CraigMiloRogers commented on #201
The input file to the filter was corrupted by a bug in `kgtk cat --verbose`.

[2020-11-14 07:02] #201 closed

[2020-11-14 07:05] CraigMiloRogers opened #209 "`kgtk cat --verbose` Sends a Feedback Message to the Wrong Stream"
`kgtk cat --verbose` sends a feedback message to stdout instead of to stderr.

Example:
Read 1102950183 data lines from file 1: /data4/rogers/elicit/cache/datasets/wikidata-20200803/data/claims.unsorted.tsv

[2020-11-16 00:22] dgarijo commented on #173
I am getting a similar error for most 2018 available dumps:

[code]

[2020-11-16 17:34] filievski opened #211 "Text-embedding sentences not always correctly generated"
**Describe the bug**

The sentences generated by `kgtk text-embedding` are more often than not having nodes instead of labels. Comparing the cases when nodes were rendered to those when the labels were found, I was not able to find any obvious reason for it. In both cases, the labels exist in the graph.

Example:
`/c/en/0_degrees_celcius	embedding_sentence	0 degrees celcius, point at which water f

[2020-11-16 21:10] CraigMiloRogers commented on #209
Fixed in `dev`.

[2020-11-16 21:10] #209 closed

[2020-11-16 21:13] CraigMiloRogers commented on #193
I'm uploading the new import.

[2020-11-16 21:15] CraigMiloRogers opened #213 "`kgtk sort2` Should Default to an OS-specific sort"
`kgtk sort2` should default to `sort` on Linux and `gsort` on macOS.

Perhaps implement by defining OSSORT as the default, then expand that?

[2020-11-16 21:38] dgarijo commented on #193
Google drive link?
Thanks!

[2020-11-16 21:45] CraigMiloRogers commented on #192
Pedro says this is for loading data into the SPARQL endpoint. Perhaps we should map the datatypes as an option.

[2020-11-16 22:22] CraigMiloRogers commented on #211
In the example Filip gave above `/c/en/appliance_store` should have been some label text.

[2020-11-16 22:28] filievski commented on #211
@CraigMiloRogers This is the line in the graph that contains the label:
[code]
I note that the labels have an empty id, but Amandeep said earlier that this should not be an issue for the text-embedding command.

[2020-11-16 23:14] szeke commented on #192
There is no need to worry about the datatypes, as there is a small file of datatypes, and the RDF generator can read the external file

[2020-11-17 05:27] CraigMiloRogers commented on #211
Before I converted `kgtk text-embedding` to use KGTK input files, the --property-labels-file had a different format.  There were two columns, called "predicate" and "label", and the file was supposed to contain *only* labels. The new format reads a KGTK file with the "node1" column containing what used to be "predicate", and the "node2" column containing what used to be "label".

[2020-11-17 05:29] CraigMiloRogers commented on #211
In the example command shown at the top of the issue, the same file is fed as both input ("-i $f") and as the property label file ("-p $f"). This is incorrect, as the input file has rows other than property labels.  The presence of these rows was causing problems .

[2020-11-17 05:33] CraigMiloRogers commented on #211
I'm adding a new option , `--property-labels-filter`, with a default of ["label"]. You may note that this is the same as the default value for "--label-properties", and it is possible that I should just use the value(s) for `--label-properties` instead of introducing a new option.

This option lists the values of the "label" column of the property label file that will be considered label records w

[2020-11-17 05:38] CraigMiloRogers commented on #211
Another problem is the ordering of the labels.  The label that will be used is, in priority order:
1) the last label that is tagged as English, otherwise
2) the first label that is not tagged as English.

These rules predate conversion of `kgtk text-embedding` to use KgtkReader.

[2020-11-17 05:41] CraigMiloRogers commented on #211
In "cskg_connected_normalized.tsv", the following lines appear:

        /r/HasProperty  label   "Wikidata property"
        /r/HasProperty  label   "has property"
        /r/HasProperty  label   "color"
        /r/HasProperty  label   "has quality"
        /r/HasProperty  label   "properties for this type"
        /r/HasProperty  label   "sex or gender"

The first two lines have to be swapped to

[2020-11-17 05:44] CraigMiloRogers commented on #211
With these changes (filtering the property labels,  reordering the property labels), my debug writes show that we should see:
/c/en/0_degrees_farenheit --> 0 degrees farenheit has property very cold.

Note: There are spelling errors in "cskg_connected_normalized.tsv".  "celcius" should be spelled "celsius", and "farenheit"should be spelled "fahrenheit".

[2020-11-17 05:49] CraigMiloRogers commented on #211
I've pushed the filtering option into the `dev` branch.

[2020-11-17 05:50] CraigMiloRogers commented on #211
@filievski Please test.

[2020-11-17 06:11] CraigMiloRogers commented on #193
The last few files are uploading.

[2020-11-17 06:11] #193 closed

[2020-11-17 06:12] CraigMiloRogers commented on #194
I think it's complete.  I'll close the issue, and reopen it if @szeke wants further changes.

[2020-11-17 19:07] CraigMiloRogers commented on #211
@filievski Filip's initial testing indicates success.

[2020-11-17 19:07] #211 closed

[2020-11-17 22:11] CraigMiloRogers commented on #195
I've created a pull request with a proposed fix for the compatibility issue. I've tested the fix under Python 3.8 and the shared memory code still works.  I don't have a good setup to test it under an earlier version of Python.

[2020-11-17 22:11] CraigMiloRogers commented on #195
(The pull request is in the pyrallel GitHub repository.)

[2020-11-17 22:35] dgarijo commented on #195
@GreatYYX please review and merge when possible.

[2020-11-18 00:59] CraigMiloRogers commented on #196
Yes, there are properties that don't have claims.  There's even one property, P9, that doesn't have a label.

[2020-11-18 01:26] CraigMiloRogers commented on #192
@szeke Is the output of this program to be consumed by `kgtk generate-wikidata-triples` or by something else? (If something else, what?) I want to be certain I understand what the output format can be, and can test that the output of the new program is acceptable input to the next program.

[2020-11-18 18:17] CraigMiloRogers opened #216 "`kgtk lift --default-value`"
When `kgtk lift` does not find a match, it leaves the new column value empty.  Sometimes it would be helpful to supply an explicit default value, such as UNKNOWN or 0.

[2020-11-18 19:18] CraigMiloRogers commented on #216
Merged into `dev`.

[2020-11-18 19:18] #216 closed

[2020-11-18 21:14] CraigMiloRogers opened #217 "Prints to the Wrong Stream"
There were a few more feedback print statements that weren't routed to stderr.

[2020-11-18 21:15] CraigMiloRogers commented on #217
edgereader.py and nodereader.py had unrouted prints in their command line test code.

[2020-11-18 21:16] CraigMiloRogers commented on #217
calc.py and reorder_columns.py had unrouted prints.

[2020-11-18 21:17] #217 closed

[2020-11-18 22:46] CraigMiloRogers opened #218 "`kgtk tee`"
It would be useful for debugging piped commands if `kgtk tee --to-files ...` were available to send a copy of the stream to one or more output files, in addition to copying the input stream to the output stream (by default, stdin to stdout).

`--disable BOOL` could be used to disable the output files, allowing the `kgtk tee` commands to stay in the pipeline when not writing debugging data.  They w

[2020-11-18 22:57] CraigMiloRogers opened #219 "Coroutine or Pyrallel Pipes"
We believe that KgtkReader and KgtkWriter consume significant CPU resources, not because of their own inefficiencies, but because of Python I/O and other Python overheads. There may be workflows where we could reduce those overheads by replacing standard pipes with either:

 - A coroutine interface
 - A pyrallel interface

At the command level, use of the new interfaces could by triggered by using

[2020-11-19 04:26] szeke commented on #192
This command should be generic, so its output can be used in any other command. It should contain id/node1/label/node2, as this may be the only info you get as input.

[2020-11-19 04:37] szeke commented on #194
The current implementation lists as assumptions that the input data must contain `rank`, `node2;wikidatatype` and `lang` columns. In the typical use case these columns are not available, so the notebook should be updated accordingly. It is more reasonable to require the `metadata.property.datatypes.tsv` information is in the input file, and needs to be pulled out first. A simple `kypher` query can

[2020-11-19 05:22] szeke commented on #196
<img width="510" alt="image" src="https://user-images.githubusercontent.com/1074599/99625008-1fef7080-29e4-11eb-88ee-afa2e33e453a.png">

[2020-11-19 05:23] szeke commented on #196
Does `P9` have some indication in the JSON that it should not exist?

[2020-11-19 05:27] CraigMiloRogers commented on #194
I envisioned that the typical use case would be to split apart a file that originated as a reduction of the output of `kgtk import-wikidata`. If we augment the data from other sources, the augmented data will still have to comply with the the requirements for `kgtk export-wikidata` if we want to export it that way, until `kgtk export-wikidata` is changed.

As noted in the script, the `rank` column

[2020-11-19 06:01] CraigMiloRogers opened #220 "Add join, copy, and set functions to `kgtk calc`"
Add join, copy and set functions to `kgtk calc`

`join` will join the values in the specified columns, using the separator provided by `--values`, which must contain a singleton.

`copy` will copy one column to another.

`set` will set one or more columns to literal values provide by `--values`.  There must be one `--values` value for each column in `--into`.

[2020-11-19 06:02] CraigMiloRogers commented on #220
I'm implementing this to simplify some scripts I'm writing.

[2020-11-19 06:08] szeke commented on #194
Even when the file to be split is a subset of wikidata, the scripts that build the subset don't carry over the other columns. For example, the scripts use the derived P279star file, which does not have the extra columns.

[2020-11-19 18:01] #220 closed

[2020-11-19 19:31] CraigMiloRogers opened #221 "`kgtk sort2` -- Add per-column Sort Options"
For `kgtk --sort2`, add per-column sort options:
- alpha vs numeric sort
- ascending vs descending

Implement these options in both the pure-python and system sort modes.

[2020-11-19 19:54] CraigMiloRogers opened #222 "`kgtk remove-columns` Needs `--all-except`"
Need a way to remove all columns except a select few.

It would be nice to be able to remove columns if they are present, without complaining if they are not.

[2020-11-19 20:12] CraigMiloRogers commented on #222
Merged into the dev branch.

[2020-11-19 20:12] #222 closed

[2020-11-19 21:25] CraigMiloRogers commented on #218
Merged into the dev branch.

[2020-11-19 21:25] #218 closed

[2020-11-19 23:34] CraigMiloRogers opened #223 "`kgtk lift` Was Not Generating Output"
In certain circumstances, `kgtk lift` was not generating output.

[2020-11-19 23:35] CraigMiloRogers commented on #223
The output file was not being closed in one flow path.  This seems to matter with mgzip more than with gzip.

[2020-11-19 23:35] #223 closed

[2020-11-19 23:52] CraigMiloRogers opened #224 "`kgtk import-wikidata` -- Optionally Split Sitelink Qualifiers into Seperate Files"
`kgtk partition-wikidata` is going to remove the need for the `lang` column to split out English sitelinks. It will do this by splitting the sitelink qualifiers into a seperate file, which it can use for filtering out the English sitelinks. `kgtk import-wikidata` should track this change.

[2020-11-20 01:24] szeke opened #225 "Deploy the string query service"
Build the elastic search index for WikidataOS, and deploy to a server accessible outside ISI

[2020-11-20 01:27] szeke opened #226 "Deploy SPARQL endpoint with WikidataOS"
Deploy the SPARQL endpoint with the WikidataOS edges including:

- pagerank (directed, undirected)
- in_degree, out_degree
- isa
- P279star

[2020-11-20 01:31] szeke opened #227 "Create KGTK file for KGTK properties"
In KGTK we create new properties to represent page rank, degree, etc. IN order to store them in the triple store we need to define them as properties in a KGTK file so that they can be put in the SPARQL endpoint.

The properties that need to be defined are in https://docs.google.com/spreadsheets/d/1Be7IwX_PlBW8-M6ADY64RbfelX3toWuFYY2l7GBa4J0/edit#gid=0

These properties must be included in the out

[2020-11-20 01:42] dgarijo commented on #225
@saggu,
I would be curious to test this setting and include it in the Docker image

[2020-11-20 03:27] szeke opened #228 "Compute text embeddings"
Compute text embeddings using the default settings

[2020-11-20 03:30] szeke opened #229 "Create an embedding similarity service"
Create an endpoint that uses the text embeddings. It takes as input one q-node and returns as a result a ranked list of nodes, including the following information:

- label
- aliases
- description
- score

The service should use the default distance supported by FAISS. If FAISS supports different distances, then the service should offer a parameter for the client to choose the metric.

[2020-11-20 03:32] szeke opened #230 "Create a GUI to invoke the embedding similarity service"
The GUI should allow the user to enter a q-node, and returns the K nearest q-nodes from the service, displaying the information in the same way as the text search GUI, but also show the score.

[2020-11-20 03:35] szeke opened #231 "Enhance the GUI for the text search service"
Small enhancements:

- show the KGTK logo
- change the title to `Knowledge Graph Text Search`

[2020-11-20 03:36] szeke commented on #231
Assigning to @saggu as owner, to assign to Gleb

[2020-11-20 03:37] szeke opened #232 "Enhance text search service to support prefix search"
Enhance the ElasitSearch to enable incremental search as the user types

[2020-11-20 03:48] szeke opened #233 "Enhance text search GUI to use incremental search"
Once #232 is done, enhance the GUI to support incremental typing.

Also enhance the GUI for the embedding similarity service #230, to support incremental search to find a q-node. When the user types return show all the q-nodes that match the string (exactly like it works today)

[2020-11-20 03:50] szeke opened #234 "Compute graph embeddings"
Compute graph embeddings using the part.wikibase-item file.

[2020-11-20 04:02] szeke opened #235 "Enhance embedding similarity service to support both text and graph embeddings"
There should be an option to choose which embedding to use.

[2020-11-20 04:12] szeke opened #236 "Deploy SQID to work with the SPARQL endpoint"
Deploy SQID to browse the WikidataOS so that pages can appear showing all our data.

[2020-11-20 05:52] szeke commented on #162
Pinging @chalypso

[2020-11-20 05:58] szeke opened #237 "Split `text-embedding` into two commands"
The specification is in https://docs.google.com/document/d/1pNTh3VmgFjS6o9SXAdFp0xHfWtsuwo6aYdMdQqJdUxY/edit#heading=h.fvmyc2aqdp5x

- `lexicalize`: creates sentences for each node
- `text-embeddings`: computes the embeddings

[2020-11-20 16:34] CraigMiloRogers opened #238 "`kgtk compact --verbose` sent a feedback message to stdout"
`kgtk compact --verbose` sent a feedback message to the wrong output stream.

[2020-11-20 16:34] CraigMiloRogers commented on #238
Fixed in the dev branch.

[2020-11-20 16:34] #238 closed

[2020-11-20 20:58] dgarijo commented on #173
I am confirming now that I haven't been able to run on any dump from 2016. The error is similar to the one above.

[2020-11-20 21:57] chalypso commented on #162
I haven't forgotten about this, but this interacts with Yixiang's recent --check-deps extension proposal.  There are a couple of errors like this one and also using a wrong (too-old) version of sqlite (Amandeep has run into that a few times) that need to be handled in a way that tells people what the issue is, how to check for the dependency and then how to resolve that.  So stay tuned and don't g

[2020-11-21 02:37] CraigMiloRogers opened #239 "`kgtk lift --clear-if-no-label --overwrite-only-empty-values --verify-existing-nonempty-values`"
Add two more controls to `kgtk lift`.

`--clear-if-no-label`: When overwriting an existing column, if True, clear the existing value, which might be nonempty, if no label is found.

`--overwrite-only-empty-values` When overwriting an existing column, if True, overwrite any existing values.  If false, do not overwrite existing nonempty values.

`--verify-existing-nonempty-values`: Verify that the l

[2020-11-21 07:51] CraigMiloRogers commented on #239
Verifying has some alternative strategies work considering:
- both the llifted value and the existing value are nonblank: do they differ?
- the lifted value is blank and the existing value is nonblank: ignore or complain?
- the lifted value is nonblank and the existing value is blank: ignore or complain?
- both values are blank: this is OK

[2020-11-21 07:53] CraigMiloRogers commented on #239
Similarly, overwriting an existing column breaks down into four cases:
- the lifted value and the existing value are both blank: no problem
- the lifted value is nonblank and the existing value is blank: do the lift
- the lifted value is blank (or missing) and the existing value is nonblank: either clear the existing value, or leave it alone
- the lifted value and the existing value are both nonbl

[2020-11-21 23:20] dgarijo opened #240 "Example 2 is outdated (dev)"
The notebook uses the flag `--directed`, which is no longer supported by the command (should be removed)

[2020-11-23 21:29] g1eb commented on #231
logo images are here https://github.com/usc-isi-i2/kgtk/tree/master/docs/images

[2020-11-24 01:38] saggu opened #241 "Implement the command `split`"
The command will split a KGTK Edge file into smaller files on number of lines input parameter, keeping the Qnode boundaries intact

[2020-11-24 02:58] CraigMiloRogers commented on #192
I've tested `examples/combine-with-qualifiers.ipynb` with the test files @szeke supplied, and skimmed through a little of the output file.  It looks OK to me. @szeke , are you satisfied with it?

[2020-12-01 01:24] saggu opened #243 "kgtk rename-columns does not allow whitespace in column headers."
I think it should allow whitespaces, what is the reason it does not allow it? @CraigMiloRogers

[2020-12-01 19:06] CraigMiloRogers opened #244 "`kgtk add-id` Hashed Node2"
Add options to use a hashed node2 value, and optionally include the Wikidata-supplied hash, in the same style as `kgtk import-wikidata` now uses.

[2020-12-01 22:04] CraigMiloRogers commented on #244
@saggu asserts that this feature is needed for Wikidata OS deployment.

[2020-12-01 22:10] szeke commented on #244
Just to be clear, the requirement is to sort main edges in qualifier edges so that the qualifier edges follow the edge they qualify, so that Wikidata OS works.

This issue may be redundant as the goal it generate the triples, and if we can get the files sorted properly, we don't need this type of id.

[2020-12-01 23:28] CraigMiloRogers commented on #244
The merge script, `examples/combine-with-qualifiers.ipynb`, assumes:

1. The claims rows have an ID value.
2. Claims row ID values are unique.
3. Each qualifier row node1 value matches a claim row ID value.
4. There may be multiple qualifier rows matching a single claim row.

It doesn't matter to `examples/combine-with-qualifiers.ipynb` how the ID values are generated, so long the constraints list

[2020-12-01 23:28] CraigMiloRogers commented on #244
`kgtk add-id` has been updated with `--id-style wikidata` and `--id-style wikidata-with-claim-id`.

[2020-12-01 23:28] #244 closed

[2020-12-01 23:32] CraigMiloRogers commented on #192
Closing, since the script appears to meet the specification.

[2020-12-01 23:32] #192 closed

[2020-12-01 23:35] CraigMiloRogers commented on #237
This issue duplicates issue #181

[2020-12-03 03:08] CraigMiloRogers commented on #196
Here's what happened.  There's code in `import_wikidata.py`, from the original author, that rejects claims for any entity that has a P31 or P279 relationship to any of the following properties:
[code]

[2020-12-03 03:08] CraigMiloRogers commented on #196
That's what caused the missing properties to go missing.  It may have caused items (Qxxx) to go missing, too.

[2020-12-03 03:09] CraigMiloRogers commented on #196
I've added an option to disable this filter.  I'll re-import wilidata-20200803 with the filter disabled.

[2020-12-03 03:24] CraigMiloRogers commented on #224
Handle this for the moment by importing the sitelink and sitelink qualifier records into a single file, then splitting them into separate files after import.

[2020-12-03 03:38] CraigMiloRogers commented on #196
P31 is "instance of"
P279 is "subclass"

[2020-12-03 03:49] CraigMiloRogers commented on #196
Reopened until I have confirmed with a complete import that the problems has been solved.

[2020-12-03 04:00] CraigMiloRogers commented on #173
This is also issue #108

[2020-12-03 04:01] CraigMiloRogers commented on #173
For sample data look on the KGTK Google Drive in `datasets/wikidata_delta`.

[2020-12-03 04:01] CraigMiloRogers commented on #108
See also issue #173

[2020-12-03 06:29] dgarijo opened #245 "Documentation for kgtk query"
I cannot find in https://kgtk.readthedocs.io/en/dev/ the documentation for `kgtk query` (kypher). Is it missing?

[2020-12-03 16:54] dgarijo opened #246 "Exception when operating with Wikidata imported results"
In some cases, I see an exception similar to the one below:

[code]

It looks like some rows are not properly imported, and have more columns than the ones KGTK is expecting.

[2020-12-03 17:30] CraigMiloRogers commented on #177
`o2 goes in node1;rel` -- I suspect this should be `o2 goes in node2;rel`

[2020-12-03 17:49] CraigMiloRogers commented on #243
I was opposed to allowing internal white space in column names because I expect that column names with internal white space will cause problems in command line parsing.

[2020-12-03 18:08] CraigMiloRogers commented on #243
I've applied changes to allow whitespace in column names, with the option to prohibit it in KgtkReader.  The unit tests pass.

[2020-12-03 18:08] #243 closed

[2020-12-03 19:39] CraigMiloRogers commented on #239
I've implemented --clear-before-lift (default False) and --overwrite (default True).  This should satisfy my immediate requirements.

[2020-12-03 19:39] #239 closed

[2020-12-03 20:45] CraigMiloRogers opened #249 "Import wikidata-20201130"
@szeke : Please initiate import of the latest wikidata dump available and put the results in KGTK-public-graphs.

[2020-12-03 20:46] CraigMiloRogers commented on #249
I've downloaded the JSON file from the Wikidata archive location and am uploading it to KGTK-public-graphs.

[2020-12-03 20:46] CraigMiloRogers commented on #249
I am running the import code.

[2020-12-03 22:01] CraigMiloRogers commented on #194
I've added code to lift Wikidata Property Dataypes from "datatype" edge records into the "node2;wikidatatype" field in the claims records.  I am waiting for free resources on my workstation to test the new code.

[2020-12-04 23:37] CraigMiloRogers commented on #194
I am testing.

[2020-12-07 20:17] CraigMiloRogers commented on #194
The new code didn't fail when run with wikidata-20201130 as input.  It should be run with Pedro's dataset next.

[2020-12-07 21:37] CraigMiloRogers commented on #249
I am uploadint the imported data tot he KGTK Public Graphs Google Drive.

[2020-12-07 21:40] CraigMiloRogers opened #250 "Enhanced Job Handling in `kgtk`"
We currently have pipe support in `kgtk`. More general job scheduling would be very useful to me.  I'd like to list a series of commands and a set of constraints, and have `kgkt` run the commands in an efficient sequence, using dependencies extracted from the input and output files declared by the commands.

[2020-12-07 21:57] CraigMiloRogers opened #251 "Split the Wikidata JSON Dump into One File per Entity Statement"
For answering problems regarding the `kgtk import-wikidata` process, it would be useful to split the Wikidata JSON dump file into many files in a single pass.

The current alternative is to extract specific entity statements from the Wikidata JSON dump file (using `kgtk extract-wikidata-json`), but that requires rereading the entire Wikidata JSON file each time it is run.

[2020-12-07 22:05] CraigMiloRogers opened #252 "Split a KGTK File into One File per Node1 Value"
For debugging KGTK operations, it would be helpful if we could automatically split a KGTK file into one file per node1 column value.

For extra credit, put Wikidata qualifiers in the same file as the claims edges they qualify.

[2020-12-07 22:36] CraigMiloRogers commented on #196
Pedro said to remove the P31/P279 statement rejection code entirely.

[2020-12-07 23:30] szeke commented on #252
@saggu has a script to split long KGTK files into chunks respecting node boundaries. I think it makes sense to generalize with an argument that specifies how many items per file

[2020-12-08 01:40] CraigMiloRogers opened #253 "Understand Wikidata Redirected Entities"
We may be missing redirected entities.  Are they in the Wikidata JSON dump, and if so, why do we drop them?

[2020-12-08 19:47] CraigMiloRogers commented on #195
I improved the documentation regarding chunk_size, maxsize, and the serialized message size.  I added two new symbolic constants for the default chunk size and default maxsize. I fixed typos in the documentation.

[2020-12-08 19:56] CraigMiloRogers commented on #195
I created a new pull request for @GreatYYX to review.

[2020-12-08 19:57] CraigMiloRogers commented on #249
I am uploading the cross-check count files.

[2020-12-08 20:18] CraigMiloRogers commented on #194
The new code ran when forced to lift node2;wikidatatype.

[2020-12-08 20:19] #194 closed

[2020-12-08 20:19] #249 closed

[2020-12-08 20:23] CraigMiloRogers opened #254 "Remove P31/P279 Filtering from `kgtk import-wikidata`"
Remove the P31/P279 filtering entirely from `kgtk import-wikidata`.

[2020-12-08 20:24] CraigMiloRogers commented on #196
Remove the P31/P279 filtering in issue #254

[2020-12-08 20:24] #196 closed

[2020-12-08 20:35] CraigMiloRogers commented on #254
Code changes made. Testing.

[2020-12-08 20:42] CraigMiloRogers commented on #253
The Qnodes which have been redirected to other Qnodes are not present in the the Wikidata JSON dump in statements associated with either Qnode in the pair.

[2020-12-08 20:42] #253 closed

[2020-12-08 23:36] CraigMiloRogers commented on #254
Looks good.

[2020-12-08 23:36] #254 closed

[2020-12-09 19:52] CraigMiloRogers commented on #195
pyrallel.lib 0.0.9 was released.

[2020-12-09 19:52] #195 closed

[2020-12-10 02:19] CraigMiloRogers opened #255 "`kgtk import-wikidata` fails to complete"
@dgarijo reports a case in which `kgtk import-wiikidata` appears to hang.

20170227.json.gz

[2020-12-10 02:26] dgarijo commented on #255
First time I ran the command I got:
[code]

I have also ran the import command with `20171113.json.gz`. It seems stuck. I see the program has dumped a `core.82` file in the folder where it's extracting the dump, and the files have not been written to disk in an hour.

[2020-12-10 02:27] dgarijo commented on #255
For more information, this is how I ran the command ($line is a gz file):
[code]

[2020-12-10 17:34] szeke opened #256 "Incorrectly extracted birthdate"

[2020-12-10 17:42] szeke commented on #256
Marking as priority 1 because the `kgtk_date_year` function returns it as `2010`. It is possible that the problem is in the profiler, which needs to pay attention to the precision.

For now, let's understand why the year is 2010.

The whole issue was triggered by the following histogram coming from the profiler with a spike of births in 2010. It turns out that many are horses, but I found this per

[2020-12-10 23:39] CraigMiloRogers commented on #255
I ran with Daniel's command and JSON input file.  `kgtk import-wikidata` finished in 8 minutes on my workstation.

[2020-12-11 02:28] dgarijo commented on #255
Uploaded `20171113.json.gz`, which was problematic for me

[2020-12-11 02:30] CraigMiloRogers commented on #255
"problematic_dumps/20170227.json.gz", on the KGTK Wikidata Evolution Google Drive, the file Daniel provided to me, worked for Daniel, too.  He's uploading a different file, "problematic_dumps/20171113.json.gz".

[2020-12-11 18:18] CraigMiloRogers commented on #255
"dumps/20171113.json.gz" import ran OK on my workstation. I'm trying "dumps/20170313.json.gz" now.

[2020-12-11 18:44] CraigMiloRogers commented on #108
`dumps/20170313.json.gz` generates
Process Process-4:
Traceback (most recent call last):
  File "/home/rogers/.local/lib/python3.8/site-packages/multiprocess/process.py", line 315, in _bootstrap
    self.run()
  File "/home/rogers/.local/lib/python3.8/site-packages/multiprocess/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/rogers/src/github/pyrallel/pyra

[2020-12-11 19:57] dgarijo commented on #255
When there is an error, the thread just hangs for me (usually between 95%-99%). I wonder if it's an issue with the python version (3.8.6), or maybe the number of processors. I will play around with them, but this also happened when there was an error with the older import.

[2020-12-12 00:13] saggu opened #257 "Add support in ETK to handle currently unknowns Wikidata data types for RDF Generation"
**Describe the bug**
Currently ETK can only handle the following data types while generating RDF triples

[code]

The following data types have to be added to ETK

[code]

The solution currently is to treat of the unknown ones as `string`

[2020-12-13 01:29] szeke opened #259 "Add edge file with DBPedia links"
Create an edge file called `derived.dbpedia.links.tsv` using a new property called `dbpedia_link` to connect q-nodes to dbpedia URIs. For example (the ids shown below should be generated using the id scheme of the KGTK wikidata import). Note that we use `P424` as a qualifier to record the language of the link

id | node1 | label | node2
-- | -- | -- | --
e1 | Q65 | dbpedia_link | "https://dbpedia.

[2020-12-13 01:46] szeke opened #260 "Add edge file with person abbreviations"
Person abbreviations are useful for entity linking. Wikidata guidelines specify that name initials should not be included in aliases, although this is not always respected. The objective of this task is to create a new dataset `derived.Q5.abbreviations.tsv` using a the property `abbreviated_name`

id | node1 | label | node2
-- | -- | -- | --
e1 | Q1124 | abbreviated_name | "B. Clinton"@en
e2 | Q41

[2020-12-13 02:09] szeke commented on #260
Will assign to Rijul once I get his GitHub id

[2020-12-13 02:11] szeke opened #261 "Add edge file with Wikipedia anchors"
Wikipedia anchors are links in Wikipedia pages.

[2020-12-13 03:51] szeke opened #262 "Add edge file with short wikipedia abstracts"
Create file `augmentation.wikipedia.abstracts.short.tsv` using property `wikipedia_abstract` of type monolingual string. Start with the English version only available from https://databus.dbpedia.org/dbpedia/text/short-abstracts

[2020-12-13 04:51] szeke opened #263 "Add edge file with DBPedia fusion labels"
The DBpedia profusion labels is a very large file of labels 4.7GB, available from https://databus.dbpedia.org/dbpedia/fusion/labels/

It was last updated on 2019.03.01, but it is worth getting as it has all languages and a large number of labels. Store in `augmentation.dbpedia.labels.fusion.tsv` using property `dbpedia_fusion_labels` of type monolingual text.

[2020-12-13 05:05] szeke opened #264 "Add edge file with Wikitable anchors"
The Wikipedia Tables corpus has a large number of tables with links to wikipedia. The objective of this task is to extract all the anchors in these tables to construct a `augmentation.wikipedia.tables.anchors.tsv`.

The dataset is in https://drive.google.com/drive/folders/1dvHwiKt_YbAEIThSZRhu2-dU1ISzy8rW?usp=sharing (KGTK/datasets/WikipediaTables-Wikidata/tables_en/step_2_tables/step_1.

id | nod

[2020-12-14 01:47] CraigMiloRogers opened #265 "Process Pipelines in Parallel"
Enhance the kgtk command line to process multiple pipelines, then add dependency analysis (and resource analysis) to determine when parallel processing can be accomplished.

Start by defining analogs to the shell commands ";", "&&", and "||". Using the same operator reprsentations as the shell uses would lead to inconvenient quoting (that's presumably who kgtk uses "/" instead of "|" as its piping

[2020-12-14 01:55] CraigMiloRogers commented on #265
Computing the dependencies will be a fair amount of work. Perhaps a notation for intentional parallel pipes:

/:   implies parallel pipes

[2020-12-14 03:17] CraigMiloRogers commented on #265
What if we want to group sequential and parallel sequences of pipes? We can't use ()<>{} unless we quote them. Perhaps we should have intuitive operators that require quoting, and unquoted ones for a few, common cases?

/;
/&&
/||
/(
/)

[2020-12-14 20:16] CraigMiloRogers commented on #255
I'm testing code to detect missing attributes, report the problem, and continue importing what can be imported.

[2020-12-14 20:21] dgarijo commented on #255
I reduced the number of processors (8) and now even though I see sometimes the datatype error, nothing hangs I haven't seen a core dump. So I am no longer blocked :) (except for the very early dumps)

[2020-12-14 20:40] CraigMiloRogers commented on #255
I've merged a change into `dev` that should detect, report, and ignore certain missing data in the JSOn file.  This should help you import these files.

[2020-12-14 21:05] saggu commented on #226
https://dsbox02.isi.edu:8888/wikidataos

With labels, aliases and descriptions in languages en, es, ru and zh-cn

[2020-12-14 21:05] #226 closed

[2020-12-14 21:07] saggu commented on #225
https://dsbox02.isi.edu:5554/

VPN only for now

[2020-12-14 21:42] nicklein opened #266 "node2;wikidatatype column not being created in partition-wikidata notebook"
**Describe the bug**
This issue is with the partition-wikidata notebook (in examples folder). In the "merge wikidata property datatypes into the claims" step of this notebook, I am expecting that the claims file will end up with a node2;wikidatatype column. It does not - it ends up with id node1 label node2 label;label. When I move on to the partitioning step, I get `Error: Cannot find the object

[2020-12-14 22:48] dgarijo commented on #255
Thanks, I have updated my dev Docker image and will work on this from now on.

[2020-12-15 01:32] CraigMiloRogers opened #267 "`kgtk lift --columns-to-write` Sometimes Didn't Work"
The  `--columns-to-write` option didn't work sometimes.  The code used the wrong index to attempt to access the new column name.

[2020-12-15 01:32] CraigMiloRogers commented on #267
Fixed in the `dev` branch.

[2020-12-15 01:32] #267 closed

[2020-12-15 01:34] CraigMiloRogers commented on #266
There was a bug in `kgtk lift --columns-to-write` which sometimes caused the new column name to be ignored. This has been fixed in the `dev` branch.

[2020-12-15 01:35] CraigMiloRogers commented on #266
There was a bug in `partition-wikidata.ipynb`. As described above, the new column name `node2;wikidatatype` needed to be escaped in the command line.

[2020-12-15 01:38] CraigMiloRogers commented on #266
Also noted while working this problem is that the qualifiers must be included in the `partition-wikidata.ipynb` input file.

[2020-12-15 04:14] CraigMiloRogers commented on #266
Tested OK.

[2020-12-15 04:14] #266 closed

[2020-12-15 05:55] szeke commented on #227
@saggu Please update the TTL file in GitHub. Ideally, the TTL is computed in the notebook that needs them so that we can add to the TSV file without the burden to create the TTL file

[2020-12-15 23:41] CraigMiloRogers opened #268 "`kgkt sort2 --gzip-command pigz` did not decompress the input file on centos"
Reported by @saggu

!{kgtk_command} {kgtk_options} sort2 --verbose={verbose} --gzip-command={gzip_command} \
 --input-file {temp_folder_path}/claims-and-qualifiers.sorted-by-id.{kgtk_extension} \
 --output-file {temp_folder_path}/claims-and-qualifiers.sorted-by-node1.{kgtk_extension}\
 --columns     node1 \
 --extra       "{sort_extras}"

header pipe: read_fd=4 write_fd=5
sort options pipe: read_f

[2020-12-15 23:41] CraigMiloRogers commented on #268
Workaround: use `gzip`

[2020-12-16 00:30] CraigMiloRogers commented on #268
The problem appears with pigz 2.3.4 running on centos 7.  centos 7 is old, with an old Linux kernel, and should be upgraded to a centos 8 release or another Linux release, such as Ubuntu (since CentOS itself is going away). I could not replicate the problem with the current version of pigz, pigz 2.4.

[2020-12-16 00:30] #268 closed

[2020-12-16 00:43] CraigMiloRogers opened #269 "Upgrade Old CentOS Servers"
Some of our ISI servers currently use CentOS 7.  That's an old release, using old software, which sometimes causes incompatibilities that would not occur with more recent versions of the same software.

The current release of CentOS is CentOS 8.3, released a few days ago.  However, Red Hat software recently announced that CentOS would be discontinued at the end of 2021, to be released by "CentOS S

[2020-12-16 00:53] CraigMiloRogers commented on #255
@dgarijo reports that his import now works.

[2020-12-16 00:53] #255 closed

[2020-12-16 00:57] CraigMiloRogers commented on #173
`kgtk import-wikidata` has been changed to skip the records causing th eproblem.

[2020-12-16 00:58] CraigMiloRogers commented on #108
`kgtk import-wikidata` has been changed to skip the records causing the problem.

[2020-12-16 00:58] #108 closed

[2020-12-16 01:00] dgarijo commented on #269
Why is this a KGTK issue?

[2020-12-17 17:48] saggu commented on #252
added `kgtk split` in `dev`

[2020-12-17 17:48] #252 closed

[2020-12-17 17:48] saggu commented on #241
`kgtk split` is now a command in `dev`

[2020-12-17 17:48] #241 closed

[2020-12-17 17:52] saggu commented on #227
Updated in commit https://github.com/usc-isi-i2/kgtk/commit/945b3177d7d5b6f9e28ae4f824b1fc0b842446cb

[2020-12-17 17:52] #227 closed

[2020-12-17 21:36] szeke opened #271 "Create Jupyter Notebook to document the filter command"
The notebook should document the capabilities of the command, the options and use small example TSV files that it loads from the repo to illustrate the different use cases/options

[2020-12-17 22:01] dgarijo commented on #271
Probably the command
[code]
Is one of the most useful ones

[2020-12-17 22:39] CraigMiloRogers commented on #237
I've merged an initial release of `kgtk lexicalize` into the `dev` branch.

[2020-12-18 03:13] dgarijo opened #272 "Error when doing kgtk filter + unique in old wikidata dumps (caused by import?)"
**Describe the bug**
I experience this bug with all the wikidata dumps I tried (so far) from earlier to 20160411. I manage to import and sort correctly, but when I execute:
[code]
I get the following error:
[code]
If I manually remove the lines from the file which are supposed to have the error, I get the following error:
[code]
I am not sure very well how to proceed. It looks like the filter/coun

[2020-12-18 03:47] dgarijo commented on #272
I have dug into this and none of the P31 node2 seem to be imported:
[code]

[2020-12-18 04:30] CraigMiloRogers commented on #272
Lots of records are missing node2 values.

Proposed approach:
1) Add a check for an empty node2 value on output, and reject the record.
2) Determine what is wrong with the JSON dump file, and reject the record on input.

[2020-12-18 04:35] dgarijo commented on #272
Ouch, the problem is that I have detected that ALL P31 properties have an empty `node2`. So all my instance counts are empty

[2020-12-18 04:37] dgarijo commented on #272
Detected this error for the following dumps:
[code]
I did not try loading any before 20160321, so I guess all dumps before 20160704 have this error

[2020-12-18 18:03] saggu commented on #259
Download the `Links to Wikipedia Article` to get a DBpedia URL to wikipedia URL file from here -
 https://wiki.dbpedia.org/services-resources/datasets/data-set-39/downloads-39

Use kypher to join it with `sitelinks.wikipedia.tsv.gz` to produce the `derived.dbpedia.links.tsv`

[2020-12-18 22:28] CraigMiloRogers commented on #272
The current Wikidata JSON dumps contain a Qxxx or Jxxx identifier in the 'id' field of wikibase entity snaks, as well as the numeric part of the identifier in the 'numeric-id' field. The older Wikidata JSON dumps contain only the 'numberid-ic' field.  I have changes `kgtk import-wikidata` to detect the missing `id` field and synthesize the correct value.

[2020-12-18 22:29] CraigMiloRogers commented on #272
I have also added code to validate the output edge records in certain ways.

[2020-12-18 22:29] #272 closed

[2020-12-19 00:55] saggu opened #274 "Error while running graph-embeddings"
command :
[code]

Head of the file
[code]

Error:
[code]

[2020-12-19 01:25] dgarijo opened #275 "Wrong statements at the beginning of old sorted dumps"
**Describe the bug**
Imported dumps from 2016 have strange characters at the beginning, which make counting/filtering fail:

[code]
This leads to an exception when doing `kgtk filter -i "$sorted_f" -p " ; P31 ; " / unique --column node2 -o class_count.tsv`.

When manually removing the following lines:
[code]
And similar lines at the end of the file, everything works.

**To Reproduce**
1. Download

[2020-12-19 19:04] Bin-Go2 commented on #274
If possible, could you please check the format of your input. It is pretty important since the code will first try to convert the input into the corresponding training set for graph embedding generation.

[2020-12-22 00:44] nicklein opened #276 "add-id gives 'list index out of range'"
**Describe the bug**
When trying to use kgtk add-id to add in IDs to a kgtk file, I am getting a 'list index out of range' error...

I am up to date with the dev branch. Here is the command I am running:
`kgtk --debug add-id -i $WORK/candidate_RAVLs_and_their_entities.tsv -o $WORK/candidate_RAVLs_and_their_entities.tsv --overwrite-id`

Here is the relevant input/output file: [candidate_RAVLs_and_t

[2020-12-22 22:51] Bin-Go2 commented on #274
Thanks for your notification and this bug has been fixed. If any issues appear, please let me know :)

[2020-12-23 00:28] dgarijo opened #278 "Error importing 2018 Wikidata dumps"
**Describe the bug**
When importing wikidata dumps from 2018 (e.g., [20180820.json.gz](https://drive.google.com/file/d/1pdaxKEQ8wtfQk4PPxu5JqM0bjpJKoPGn/view?usp=sharing), but I have found others) I get some errors like the one below:
[code]
In most cases the import manages to end, but in some cases like the link provided above, all the workers exit, the MiB/s goes to 0 and the progress stops. if

[2020-12-23 05:16] szeke commented on #274
I see the same error when processing a `gz` file (attached). The command will read the file if it is uncompressed (and then hit a different error, which I will report in a separate issue)

[geinput.tsv.gz](https://github.com/usc-isi-i2/kgtk/files/5733411/geinput.tsv.gz)

[2020-12-23 05:27] szeke opened #279 "graph-embedding exceptions: RuntimeError: error executing torch_shm_manager"
The following error happens when I try to run graph-embeddings as follows:
[code]

With file
[geinput.tsv.gz](https://github.com/usc-isi-i2/kgtk/files/5733428/geinput.tsv.gz)

The error on my MacBook Pro is (I have the latest from dev):
[code]

The log file:
[ge.log](https://github.com/usc-isi-i2/kgtk/files/5733434/ge.log)

My output folder:
![image](https://user-images.githubusercontent.com/10745

[2020-12-23 05:36] Bin-Go2 commented on #279
Hi, I think there is somthing wrong with the `-o "$TEMP"/ge/outputfile`,  indeed, our kgtk's output format is .tsv and I download your dataset and to run it. It works successfully.
Command is following:
[code]

![image](https://user-images.githubusercontent.com/45792483/102963295-911bbb00-449d-11eb-8ef5-876db3926520.png)

[2020-12-23 05:42] Bin-Go2 commented on #279
Oh, I just checked the repository and find maybe you are using the code from the master branch. Actually, I have updated the code to the dev branch, could you please try the dev version of the graph embedding codes. (I cannot directly update codes for a master branch.) Let me know if you have any problems.

[2020-12-23 06:02] szeke commented on #279
I am on the `dev` branch:
[code]

I ran the command you sent:
[code]

[2020-12-23 06:07] Bin-Go2 commented on #279
I think the possible reason could be the kgtk version, can you `cd` to the kgtk repository and run `pip install .` to reinstall the kgtk library and run the commands again? Since I saw the environment of yours is `kgtk-0.5.0-py3.7.egg`  and mine is 'kgtk                  0.4.0'

[2020-12-23 06:16] szeke commented on #279
Same error after `pip install .`:
[code]

[2020-12-23 06:21] Bin-Go2 commented on #279
Could you please provide your conda environment?  From the debug, it seems that the error is not related to the code.

[2020-12-23 06:29] szeke commented on #279
Let's move the conversation to slack

[2020-12-24 04:37] szeke commented on #279
Problem caused by out of date tensor flow installation. Resolved.

[2020-12-24 04:37] #279 closed

[2020-12-24 23:53] dgarijo commented on #173
The import still fails from dumps between 20141020 and 20150727
Samples may be downloaded from the following links:
- [20141020 ](https://archive.org/download/wikidata-json-20141020/20141020.json.gz)
- [20150727](https://archive.org/download/wikidata-json-20150727/wikidata-20150727-all.json.gz)

[2020-12-26 04:14] szeke opened #281 "lexicalize fails parsing label"
Running the new `lexicalize` command fails with the following exception. Looks like it chokes on the following line in the input file. The input file was written by kgs, so it is unexpected that it cannot parse the line:
[code]

The command:
[code]

The exception:
[code]

[2020-12-29 19:03] filievski commented on #274
AFAIK, this is now solved. Closing

[2021-01-04 18:25] saggu commented on #274
I am seeing the exact same error as I reported in the beginning. I am trying to process a gzipped file. The error occurs while trying to `seek` in output mode

[code]

[2021-01-04 20:32] CraigMiloRogers commented on #281
It looks to me like the input is buggy.
```'Mohs\\' hardness'@en```
should be
```'Mohs\' hardness'@en```

[2021-01-04 20:33] CraigMiloRogers commented on #281
@szeke  What is `kgs`?

[2021-01-04 20:38] szeke commented on #281
@CraigMiloRogers I don't understand the question re `kgs`

Also, the buggy label was produced by the wikidata import.

[2021-01-04 20:43] CraigMiloRogers commented on #276
The sample command given above,
```kgtk --debug add-id -i $WORK/candidate_RAVLs_and_their_entities.tsv -o $WORK/candidate_RAVLs_and_their_entities.tsv --overwrite-id```
appears to overwrite the input file with the output file.  That's not safe.

[2021-01-04 20:43] CraigMiloRogers commented on #276
The problem was fixed in `dev` before the winter break.

[2021-01-04 20:43] #276 closed

[2021-01-04 21:13] thadguidry commented on #281
Looks like there was some problem on the `en` (English) label parsing?
Here's the original English label and aliases to understand where the parsing is getting things wrong in regards to
 `Mohs' hardness` where perhaps the single quote `'` or the `s'` was escaped incorrectly, since `\\` is a typical escape sequence such as in Java and Javascript:
![image](https://user-images.githubusercontent.com/

[2021-01-06 00:35] CraigMiloRogers commented on #275
The JSON file contains newlines at the end of some supposedly numeric fields.

[code]

[2021-01-06 00:42] szeke opened #282 "Partition notebook fails on tutorial file"
Attached are the input file and the Jupyter notebook output. The failure is in cell 19

[all_and_qualifiers.tsv.gz](https://github.com/usc-isi-i2/kgtk/files/5773295/all_and_qualifiers.tsv.gz)

[partition-wikidata.out.ipynb.zip](https://github.com/usc-isi-i2/kgtk/files/5773299/partition-wikidata.out.ipynb.zip)

[2021-01-06 00:50] dgarijo commented on #275
This happens for 40 dumps (20150805-20160502). I fixed it up by deleting those lines with a script (`sed`)

[2021-01-06 01:09] CraigMiloRogers commented on #275
I'm making `kgtk import-wikidata` strip whitespace at the beginning or end of the numeric fields. I need to double check my work, then I'll merge the changes into `dev`.

[2021-01-06 01:36] CraigMiloRogers commented on #275
Fix committed to `dev`.

[2021-01-06 19:00] CraigMiloRogers commented on #275
Add protection against the numbers being encoded in JSON as numbers (makes sense).

[2021-01-06 19:36] CraigMiloRogers commented on #275
Additional protection added.  There are still more places where additional paranoia is advisable, though.

[2021-01-06 19:36] #275 closed

[2021-01-06 21:30] CraigMiloRogers opened #283 "`kgtk import-wikidata` Needs to Be More Paranoid"
`kgtk import-wikidata` can generate invalid KGTK output files because it is not paranoid enough about the input data.  It should:

1) be much more paranoid about the input records it reads, and/or
2) perform a *full* validation on the output KGTK records it produces.

[2021-01-07 00:12] CraigMiloRogers commented on #173
I've modified the code to persevere when additional fields ar emissing in the JSON file. Use `kgtk import-wikidata --fail-if-missing-data False`, as in
[code]

[2021-01-07 00:12] CraigMiloRogers commented on #173
The changes have been merged into `dev`.

[2021-01-07 00:19] dgarijo commented on #173
Thanks, I will test it out

[2021-01-07 01:37] dgarijo commented on #173
I get the following error:
[code]
Maybe you didn't commit the changes, @CraigMiloRogers ?

[2021-01-07 02:20] CraigMiloRogers commented on #173
`--fail-if-missing False`, not `--fail-if-missing-data`

[2021-01-07 02:29] dgarijo commented on #173
Checked, it's printing out thousands of messages but it seems to be working. Closing issue

[2021-01-07 02:29] #173 closed

[2021-01-07 19:08] CraigMiloRogers opened #284 "Add `kgtk extract-wikidata-json --output-limit`"
Add an output limit to save time when extracting an example from the start of a big file.

[2021-01-07 19:09] CraigMiloRogers commented on #284
This enhancement is needed to speed up progress on issue #278.

[2021-01-07 21:08] CraigMiloRogers commented on #284
Changes committed to `dev`.

[2021-01-07 21:08] #284 closed

[2021-01-07 21:09] CraigMiloRogers commented on #278
Ad-hoc changes committed to `dev`. These changes fis this datafile, but we may expect other Wikidata JSON irregularities to cause crashes.

[2021-01-07 21:09] #278 closed

[2021-01-07 21:10] CraigMiloRogers commented on #246
@dgarijo Is this still happening?  If so, please provide me with an example.

[2021-01-07 21:17] dgarijo commented on #246
Yes, after doing the filtering some files produced this exception. I will have to have a look for an example

[2021-01-07 22:04] saggu opened #285 "Graph Embedding Unit Test is failing"
https://travis-ci.org/github/usc-isi-i2/kgtk/builds/753425265

[code]

[2021-01-07 22:04] CraigMiloRogers commented on #282
I copied the input KGTK file and the partition-wikidata notebook.  The notebook ran fine for me.  Here's how I invoked it, after creating `./parts/` and `./parts/temp/`:
[code]

[2021-01-07 22:08] CraigMiloRogers commented on #282
@szeke Can you provide me with a copy of the input file that fails in step 19?
 `/Users/pedroszekely/Downloads/kypher/wikidata_os_v5/parts/claims.tsv.gz`
I'd also like to see the predecessors to that file:
`/Users/pedroszekely/Downloads/kypher/wikidata_os_v5/parts/temp/claims.no-datatype.tsv.gz`
`/Users/pedroszekely/Downloads/kypher/wikidata_os_v5/parts/metadata.property.datatypes.tsv.gz`
`

[2021-01-07 22:49] CraigMiloRogers commented on #281
@szeke How was your `all.tsv.gz` file created?  I'd like to trace the fault backward.

[2021-01-07 23:19] CraigMiloRogers opened #287 "`kgtk sort2 --gzip-command` Should Default to gzip, not pigz"
The `pigz` command is too old in CentOS 7. We should make `gzip` the default for compatibility.

[2021-01-07 23:22] CraigMiloRogers opened #288 "`kgtk` Should Complain When Input and Output Files Have the Same Path (Except Stdio)"
`kgtk` commands should complain when an output file looks likt it will overwrite an input file (except for stdin/stdout). We've had at least on user problem so far due to this gotcha.

[2021-01-07 23:44] CraigMiloRogers opened #289 "Import Wikidata 20210104"
Import a new copy of Wikidata and partition it.

[2021-01-08 00:19] CraigMiloRogers opened #290 "Remove `kgtk sort`"
Remove the old `kgtk sort` command.  Map the current `kgtk sort1` to `kgtk sort`, but maintain compatibility for scripts that use `kgtk sort2`.

[2021-01-08 01:06] CraigMiloRogers commented on #287
Already done.

[2021-01-08 01:06] #287 closed

[2021-01-08 01:21] CraigMiloRogers commented on #290
Merged into `dev`.

[2021-01-08 01:21] #290 closed

[2021-01-08 03:41] CraigMiloRogers commented on #282
@szeke pulled from github and the notebook worked.

[2021-01-08 03:41] #282 closed

[2021-01-08 04:04] dgarijo opened #291 "What is ATOMIC?"
In this documentation page: https://kgtk.readthedocs.io/en/latest/import/import_atomic/ there is a command for importing ATOMIC.
However, it does not explain what it is, where does it come from or why is it relevant or interesting.
I think that it should be properly documented.

[2021-01-08 05:07] szeke commented on #281
The files are the products of https://github.com/usc-isi-i2/kgtk/blob/dev/tutorial/2%20Construct%20KG.ipynb
The partition command is in https://github.com/usc-isi-i2/kgtk/blob/dev/tutorial/3%20Partition%20KG.ipynb

[2021-01-08 07:34] #260 closed

[2021-01-08 07:35] #264 closed

[2021-01-08 08:56] filievski commented on #291
Good catch. I will document this.

[2021-01-08 21:06] CraigMiloRogers commented on #288
Probably ought to object when multiple output files have the same path, too.

[2021-01-08 21:12] CraigMiloRogers commented on #288
More succinctly: output file paths must be unique in the set of all file paths.

[2021-01-08 21:35] #259 closed

[2021-01-09 00:44] CraigMiloRogers commented on #288
This rule should apply to entire pipes, not just a single command invocation.

[2021-01-11 14:27] filievski commented on #291
Addressed on [dev](https://github.com/usc-isi-i2/kgtk/commit/357168044558dbabfd614fbdc2e331abc79afdb4). Closing.

[2021-01-11 14:27] #291 closed

[2021-01-11 21:18] CraigMiloRogers commented on #237
See also issue #181.

[2021-01-11 21:21] CraigMiloRogers commented on #181
This issue has been superseded y issue #237.

[2021-01-11 21:21] #181 closed

[2021-01-11 21:28] CraigMiloRogers commented on #271
See also issue #113.

[2021-01-11 21:31] CraigMiloRogers opened #293 "The md Files are Incomplete and Out of Date"
The md files are incomplete and out of data. They should be update

[2021-01-11 21:46] CraigMiloRogers commented on #237
See also issue #184

[2021-01-11 21:54] CraigMiloRogers commented on #293
We plan to use movie data as sample data.

[2021-01-11 21:58] CraigMiloRogers commented on #293
The help text inside each command needs to be improved.

[2021-01-12 20:42] CraigMiloRogers commented on #293
We agreed to use movie data for examples.

[2021-01-13 00:46] CraigMiloRogers opened #295 "`kgtk add-id --id-separator`"
`kgtk add-id` may build ID values from a sequence of subfields, with a separator between each subfield.  The separator is currently fixed at '-'. It may prove useful to override this separator.

[2021-01-13 02:13] saggu opened #296 "Partition notebook is dropping some edges in the `wikibase-item.tsv` file"
**Describe the bug**
https://github.com/usc-isi-i2/kgtk/blob/dev/examples/partition-wikidata.ipynb

For example,  `P31` and P279` as node1 are not present.

[2021-01-14 20:14] CraigMiloRogers opened #297 "`kgtk unique`: `--prefix` and `--format` Should Be Non-expert"
For the `kgtk unique` command, the `--prefix` and `--format` options are highlighted in the documentation.  Perhaps they shouldn't be expert options.

[2021-01-14 20:15] CraigMiloRogers commented on #297
Done.  Merged into `dev`.

[2021-01-14 20:15] #297 closed

[2021-01-14 21:14] CraigMiloRogers opened #298 "`kgtk unique --column` Should Default to node2 Or Its Alias"
`kgtk unique` should default to the `node2` column or its alias.

[2021-01-14 21:17] CraigMiloRogers commented on #298
Merged into `dev`.

[2021-01-14 21:17] #298 closed

[2021-01-15 18:45] dgarijo commented on #143
On the dev branch it is not automated because we have too many commits and it's constantly rebuilding

[2021-01-15 18:46] dgarijo commented on #63
This is now being worked on with the movie example

[2021-01-15 20:19] CraigMiloRogers opened #299 "Automate `.md` File Updates"
I think I can save time by automating `.md` file updates.

1) Update the `## Usage` section.

2) Update the output table sin the `## Examples` section.

[2021-01-16 06:32] szeke opened #300 "Heisman trophy query returns no data in Wikidata OS SPARQL"
The following query performed in our SPARQL endpoint https://dsbox02.isi.edu:8888/wikidataos returns no results:
[code]

The same query in the official wikidata returns all the desired result.

The equivalent cypher query on the KGTK files returns results, but no results after 2017, while the official wikidata returns the results until 2020:
[code]

The reason that we don't get the latest winners

[2021-01-17 21:30] rijulvohra opened #301 "Installing KGTK from dev branch raises VersionConflict"
**Describe the bug**
Installing KGTK from dev branch resulting in VersionConflict issue

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/usc-isi-i2/kgtk.git`
2. `python setup.py install`
3. `kgtk -h`

**Screenshots**
<img width="1424" alt="Screen Shot 2021-01-17 at 1 27 05 PM" src="https://user-images.githubusercontent.com/19925199/104856469-be566000-58c7-11eb-93

[2021-01-17 22:03] dgarijo commented on #301
I cannot reproduce this issue. I just rebuilt the `dev` image in a clean Docker environment successfully (python 3.8.5).
While we look at this, I suggest using the Docker image, which works fine.

[2021-01-19 19:03] rijulvohra commented on #301
@dgarijo I was able to build kgtk from dev branch using `pip install -e .` but building it using `python setup.py install` raises this error.

[2021-01-19 19:06] dgarijo commented on #301
That's curious, when I do the image I run `RUN cd /kgtk && python setup.py install ` successfully. Have you tried with Python 3.8.5?

[2021-01-19 19:33] rijulvohra commented on #301
Yes tried with Python 3.8.5. Getting the same error

[2021-01-19 20:12] szeke commented on #301
I've seen cases where `python setup.py install` didn't install everything, don't remember the details

[2021-01-19 20:53] CraigMiloRogers commented on #299
`kgkt/utils/update_documentation.py` implements this.

[2021-01-19 20:53] #299 closed

[2021-01-21 02:09] CraigMiloRogers opened #302 "`kgtk md` Neednt' Require Mandatory Columns"
`kgtk md` needn't be so picky as to require the mandatory columns by default.

[2021-01-21 02:10] CraigMiloRogers commented on #302
Merged into `dev`.

[2021-01-21 02:10] #302 closed

[2021-01-21 04:06] CraigMiloRogers opened #303 "`kgtk filter --node1 --label --node2`"
`kgtk filter` currently has the options `--subj` `--pred` `--obj`.  We are standardizing our terminology on `node`, `label`, `node2`. Make `--node1`, `--label`, and `--node2` be the primary forms of the options, while retaining the older forms for compatibility.

This change was requested by @szeke .

[2021-01-21 18:48] CraigMiloRogers commented on #303
Merged into `dev`.

[2021-01-21 18:48] #303 closed

[2021-01-22 03:14] dgarijo commented on #245
We do have an initial version of the command on the `dev` branch, so I will close this issue. The documentation is incomplete, but it's on the works.

[2021-01-22 03:14] #245 closed

[2021-01-25 01:42] szeke commented on #271
The markdown documentation is adequate, and the new tutorial contains examples

[2021-01-25 01:42] #271 closed

[2021-01-25 01:54] szeke opened #306 "Compact does not work with tutorial file"
I would expect the two `genre` edges in https://github.com/usc-isi-i2/kgtk/blob/dev/tutorial/datasets/movies.tsv to be compacted

[2021-01-25 01:56] szeke opened #307 "Rename-columns does not work with tutorial file"
Attempting to rename all columns of https://github.com/usc-isi-i2/kgtk/blob/dev/tutorial/datasets/movies.tsv using `--output-columns` produces an error

[2021-01-25 21:39] CraigMiloRogers commented on #306
`kgtk compact` is intended to operate on additional columns of denormalized edges.  `node2` may not be compacted, the KGTK File Spec prohibits it.

[2021-01-25 21:39] #306 closed

[2021-01-25 22:23] CraigMiloRogers commented on #307
The output file must have the required edges of a KGTK Edge or Node file, unless you use `--mode=NONE`.

[code]

[2021-01-25 22:24] CraigMiloRogers commented on #307
@szeke Does this address your question?  If not, what was your command?

[2021-01-25 23:07] szeke commented on #307
Ok, I see. The documentation should state that.

[2021-01-25 23:32] CraigMiloRogers commented on #307
It shall.

[2021-01-25 23:32] #307 closed

[2021-01-26 00:23] CraigMiloRogers opened #309 "`kgtk rename-columns` does not swap node1 and node2"
[code]

[2021-01-26 00:30] CraigMiloRogers commented on #309
Fixed in kgtkwriter.py.

[2021-01-26 00:30] #309 closed

[2021-01-26 18:50] CraigMiloRogers opened #311 "`kgtk filter` Doesn't Allow `;` or `,` Inside Patterns"
`kgtk filter` doesn't include `;` or `,` inside patterns.

We could add a layer of quoting, but that would be a tremendous burden on normal use cases.

Let's add `--pattern-separator SEPARATOR` and `--word-separator SEPARATOR` options, allowing the use to supply alternative separators.

Pedro raised this issue.

[2021-01-26 18:58] szeke commented on #311
I prefer to think of a more general solution rather than adding options to make filter work.

[2021-01-26 18:59] dgarijo commented on #311
It also does not allow `^` (at least last time I tried updating the doc).

[2021-01-26 19:26] CraigMiloRogers commented on #311
@dgarijo Show me an example.  My first guess is that your `^` needs to be quoted to prevent it from being treated as a shell metacharacter.

[2021-01-26 19:27] #311 closed

[2021-01-28 01:42] CraigMiloRogers opened #312 "KgtkReader Doesn't Read CSV File Headers"
KgtkReader doesn't read the headers of CSV files properly.

[2021-01-28 01:46] CraigMiloRogers commented on #312
Fixed in `dev`.

[2021-01-28 01:46] #312 closed

[2021-01-28 05:03] CraigMiloRogers opened #313 "ifempty and ifnotempty should have reject files"
`kgtk ifempty` and `igth ifnotempty` should have `--reject-file` options.

[2021-01-28 23:40] CraigMiloRogers opened #314 "Alias-specific Command Line Parsing"
Pass the actual command name to add_arguments_extended(...), to allow alias-specific options and defaults.

[2021-01-28 23:41] CraigMiloRogers commented on #314
Passed the actual command as parsed_shared_args._command.  Merged into the `dev` branch.

[2021-01-28 23:41] #314 closed

[2021-01-29 07:49] CraigMiloRogers opened #315 "`kgtk lift --unused-labels-file UNUSED_LABELS_FILE`"
`kgtk lift` should have the option to write unused labels to a file.

[2021-01-29 18:50] CraigMiloRogers opened #316 "`kgtk compact --columns` Shoul list the key columns, not append key columns"
`kgtk compact --columns` doesn't quite follow its documentation.  Fix the code to match the descriptions.

[2021-01-29 18:56] CraigMiloRogers commented on #316
I checked the examples and tutorial.  I didn't see any instances where fixing `kgtk compact` this way would break the example or tutorial.

[2021-01-29 18:58] CraigMiloRogers commented on #316
Merged into the `dev` branch.

[2021-01-29 18:58] #316 closed

[2021-01-29 19:02] CraigMiloRogers opened #317 "`kgtk compact` Add `--dedup` and the alias `kgtk dedup`"
`kgtk compact --dedup` and the alias `kgtk dedup`. When specified, all columns are treated a key columns.  This will deduplicate by removing identical records, without compacting to create new `|` lists.

[2021-01-29 20:24] CraigMiloRogers commented on #317
I used the full word `deduplicate`: `kgtk deduplicate`, `kgtk compact --deduplicate`.  Merged into the `dev` branch.

[2021-01-29 20:24] #317 closed

[2021-01-29 21:33] CraigMiloRogers opened #318 "Add min and max to `kgtk calc`"
Add min and max operations to `kgtk calc`.

[2021-01-29 21:33] CraigMiloRogers commented on #318
Merged into the `dev` branch.

[2021-01-29 21:33] #318 closed

[2021-01-30 00:00] CraigMiloRogers opened #319 "`--errors-to-stderr` and `--errors-to-stdout` Didn't Have Defaults Shown in `--help`"
The debugging options `--errors-to-stderr` and `--errors-to-stdout`  didn't show theyr default values in `--help`.

[2021-01-30 00:05] CraigMiloRogers commented on #319
Committed to the `dev` branch.

[2021-01-30 04:38] CraigMiloRogers opened #320 "update_documentation Should Process an Expert Usage Section"
update_documentation processes a Usage section:

## Usage

It should also process Expert Usage for cases where it is needed.

## Expert Usage

[2021-02-02 00:52] CraigMiloRogers commented on #319
They both show False.  This isn't helpful.  Probably need to pass the default in.

[2021-02-02 23:22] CraigMiloRogers opened #323 "KgtkReader Should Report Lines Read, Ignored, Rejected, etc."
KgtkReader should report lines read, ignored, rejected, etc.

Some counters are in place, but they aren't fully implemented, and additional counters would help.

This report will assist `kgtk validate`

[2021-02-02 23:33] CraigMiloRogers commented on #323
Merged into `dev`.

[2021-02-02 23:33] #323 closed

[2021-02-02 23:39] CraigMiloRogers opened #324 "`kgtk validate` Doesn't Route Some Errors Properly"
Some errors from KgtkReader are not sent to standard output in `kgtk validate`. This is actually a more general deficiency in KgtkReader, but we'll fix it in `kgtk validate` as a special case.

[2021-02-02 23:40] CraigMiloRogers commented on #324
Example: no header line

[2021-02-02 23:56] CraigMiloRogers commented on #324
Changes merged into `dev`.

[2021-02-02 23:56] #324 closed

[2021-02-03 23:05] CraigMiloRogers opened #326 "KgtkBase Column Name Error Messages Are Not Readable"
KgtkBase generates error messages for leading whitespace, trailing whitespace, and other conditions in columns names.  When more then one column name has a proble, the error message becomes unreadable.

[2021-02-03 23:06] CraigMiloRogers commented on #326
Use multiple lines for the error messages.  Changes pushed into `dev`.

[2021-02-03 23:06] #326 closed

[2021-02-03 23:07] CraigMiloRogers commented on #320
Changes pushed into `dev` a day or two ago.

[2021-02-03 23:07] #320 closed

[2021-02-03 23:09] CraigMiloRogers commented on #324
Changes pushed into `dev`.

[2021-02-04 03:29] CraigMiloRogers opened #327 "KgtkReader Does Not Allow Lists in `node`, `label`, or `node2` of Node Files"
The KGTK File Specification v2 prohibits lists (`|`) in the `node1`, `label`, and `node2` column of edge files.  Currently, KgtkReader imposes that constraint on node files and quasi-KGTK (`--mode=NONE`) files.

[2021-02-04 03:40] CraigMiloRogers commented on #327
Corrected and merged into `dev`.

[2021-02-04 03:40] #327 closed

[2021-02-04 04:50] dgarijo opened #328 "[Wikidata extraction] Some date statements have incorrect dates"
I have detected that many of the date statements I see in the Wikidata extracted files look as follows:
[code]

When trying to parse dates like `2019-11-00T00:00:00Z` in python, I get an error because day 00 does not exist:
[code]
This makes it complicated to operate with the dates that result from queries.

[2021-02-05 19:10] summer7xinting opened #329 "kgtk_lqstring_text_string returning extra "\""
**Describe the bug**
When I try to generate node-to-label file using Kypher, I used kgtk_lqstring_text_string which removes language postfix but introduce a new backslash (see screenshot) if the label string contains a single quote (already escaped)

**To Reproduce**
Steps to reproduce the behavior:
1. Download labels.en.tsv from [here](https://drive.google.com/drive/u/1/folders/1qbbgjo7pddMdDvQzO

[2021-02-06 00:21] mann-brinson opened #330 "Query Documentation: Query all node2 for a given node1, and mlul"
**Is your feature request related to a problem? Please describe.**
I need a way to query all possible objects (`node2`) for a given subject (`node1`) and multiple relations (`label`). This would be helpful for users who want to find all possible classes of a given instance.

Example: I want to find all classes (`node2`) of a subject (`node1`) called ('amoxicillin', Q201928). A class can be defined

[2021-02-06 00:30] dgarijo commented on #330
The query:
[code]

[2021-02-06 00:34] mann-brinson commented on #330
I have tried this, and can't get a result. Can you confirm running this produces some result?

[2021-02-06 00:49] dgarijo commented on #330
Have you verified you got results fro either? I have not tested the query yet

[2021-02-06 02:04] CraigMiloRogers opened #331 "KgtkReader Does Note Implement Blank Required Field Checks"
A naming inconsistency means that KgtkReader did not implement the blank required field checks.

[2021-02-06 02:04] CraigMiloRogers commented on #331
Merging fix into 1dev1.

[2021-02-06 02:04] #331 closed

[2021-02-06 19:34] dgarijo commented on #330
Union queries are not supported at the moment.

[2021-02-08 20:03] saggu opened #332 "graph embedding code should use python's tempfile functionality"
[This line ](https://github.com/usc-isi-i2/kgtk/blob/dev/kgtk/cli/graph_embeddings.py#L155) used to have a default value of `tmp/` (I changed it to `/tmp/`).

This caused me to accidentally commit a 150 MB file which resulted in a lot of other issues. Anyway, please change this to use python `tempfile` by default. The code should delete this folder after execution unless specified by user not to.

[2021-02-08 22:18] chalypso commented on #329
I pushed a fix to dev, let me know if it fixes the issue.

[2021-02-08 23:00] saggu commented on #234
Completed

[2021-02-08 23:00] #234 closed

[2021-02-08 23:01] saggu commented on #232
Completed, https://kgtk.isi.edu/search/

[2021-02-08 23:01] #232 closed

[2021-02-08 23:01] saggu commented on #233
Completed, https://kgtk.isi.edu/search/

[2021-02-08 23:01] #233 closed

[2021-02-08 23:02] saggu commented on #228
Completed.

[2021-02-08 23:02] #228 closed

[2021-02-08 23:02] saggu commented on #225
https://kgtk.isi.edu/search/, completed

[2021-02-08 23:02] #225 closed

[2021-02-08 23:18] CraigMiloRogers commented on #328
Day 00 and Month 00 appear in Wikidata in defiance of ISO 8601 when the precision is coarser than a day.   `kgtk clean-data` can convert these value to 01.

[2021-02-08 23:22] dgarijo commented on #328
That would be ideal. Since it's a Wikidata error and not a KGTK error, shall I close the bug? Or maybe change it for a feature request of `kgtk validate` ?

[2021-02-09 00:26] CraigMiloRogers opened #334 "Clean 00 Days and Months in Wikidata Imports"
Clean 00 days and months in Wikidata.
Look for a way to retain the original values when we clean out-of-range values.

[2021-02-09 00:28] CraigMiloRogers opened #335 "Make It easier to Connect Errors to Documentation"
Make it easier to connect a KgtkReader error to the documentation about the error.

Add short, unlikely error codes to eack error message.  Reference these error codes in the documentation.  Eventually, we should be able to google when an error occurs and located the proper documentation.

[2021-02-09 00:28] CraigMiloRogers commented on #335
Feature requested by @szeke

[2021-02-10 00:52] saggu commented on #300
Found the issue, this happened because we do not have time qualifiers in the generated triples. Time qualifiers were rejected because they have invalid ISO format.

[code]

I'll wait for @CraigMiloRogers  to clean the wikidata import. Here is the query which will work (wont return dates)

[code]

[2021-02-10 18:42] summer7xinting commented on #329
Hi @chalypso so which commit is it that fixed issue 😂 I pulled dev but seems like the result has not changed on my end
<img width="747" alt="image" src="https://user-images.githubusercontent.com/18204249/107555967-ab644200-6b8c-11eb-8d86-62d7a8454f20.png">

[2021-02-10 19:08] summer7xinting commented on #329
Hi @chalypso plz ignore my last comment! Seems like besides pulling dev, I need to `pip uninstall kgtk`, then run `pip install -e .` to get the right code base. The issue is fixed on my end 😊
<img width="745" alt="image" src="https://user-images.githubusercontent.com/18204249/107558995-5296a880-6b90-11eb-8daa-3802143b1287.png">

[2021-02-11 02:23] mann-brinson commented on #330
**Test 1 - Query: Get the class (P31) of an instance**
[code]
**Test 1 - Result: Working**
[code]
**Test 2 - Query: Get the class (P31) of an instance**
[code]
**Test 2 - Result: Not working**
`/bin/bash: {kypher}: command not found`

**Test 3 - Query: Get class and subclass of instance**
[code]

**Test 3 - Result: Not working**
`/bin/bash: {kypher}: command not found`

[2021-02-11 02:23] mann-brinson commented on #330
@dgarijo any further advice?

[2021-02-11 03:09] dgarijo commented on #330
If I recall correctly, @chalypso said UNION queries are not supported at this time, so the last query is not going to work right now.

[2021-02-11 19:00] chalypso commented on #329
Great, will close the issue.

[2021-02-11 19:00] #329 closed

[2021-02-11 22:23] CraigMiloRogers opened #336 "`kgtk lexicalize` HandledLabels Inconsistently"
Labels were handled inconsistently, depending upon whether they came from the input file or from a seperate entity label file.

[2021-02-11 22:24] CraigMiloRogers commented on #336
I wrote the documentation the way that I thought the existing code worked.  Testing the existing code, I saw that it did not work the way I thought it should.  I changed the code to match the documentation.

[2021-02-11 22:25] CraigMiloRogers commented on #336
Merged into `dev`.

[2021-02-11 22:25] #336 closed

[2021-02-12 00:24] CraigMiloRogers opened #337 "`kgtk lexicalize` Get Labels from Lifted Columns"
`kgtk lexicalize` can require too much memory for a laptop, even with `--presorted` input, because the labels are kept in memory.

`--from-lifted-columns`, if True, would tell `kgtk lexicalize` to look for labels in columns `node1;label`, `label;label`, and `node2;label`, and not cache the values.  Alternatively, options such as `--node2-labels-in-column xxx` could be implemented for a finer grain

[2021-02-12 21:26] mann-brinson opened #338 "Cannot query node properties, thus can't compute node2 in-degree."
**Describe the bug**
kgtk query for node properties is not working as described in documentation. See [query doc](https://kgtk.readthedocs.io/en/latest/transform/query/#querying-connected-edges-through-graph-patterns) under 'Querying Connected Edges Through Graph Patterns'. As a result, I cannot query my node property `node2;wikidatatype`, and thus cannot compute in-degree properly.

![image](http

[2021-02-13 06:07] szeke commented on #338
This error has nothing to do with failure to produce correct results. your {} expansion is not working. We are not using {} expansion in the notebooks anymore as we found some interactions that produce errors. When you se an error fro `/bin/bash` it is a clue that your command is not running.

[2021-02-13 06:07] #338 closed

[2021-02-16 20:16] CraigMiloRogers opened #339 "`kgtk unique` Should Get Unique Values from Multiple Columns"
`kgtk unique` should be able to make unique value distribution merging multiple columns. A common use case is to find unique values (properties or Qnodes) in any of the `node1`, `label`, or `node2` columns.

The `--column` option should become `--columns` (but `--column` should still be supported).

[2021-02-16 20:25] CraigMiloRogers opened #340 "`kgtk unique` Should Filter the Values"
A common use case for `kgtk unique` is to generate a list of unique Wikidata properties or qnodes in any of the `node1`, `label`, or `node2` columns, ignoring other types of data (numbers, strings, times, etc.).

The filter should apply to the multiple columns described in issue #339.

Proposal: add these options:

`--filter XXX` where XXX is a regular expression filter
`--match-type {fullmatch,ma

[2021-02-16 20:28] CraigMiloRogers opened #341 "`kgtk unique` Should Optionally Handle Multiple Columns in parallel"
`kgtk unique` should be able to handle multiple columns, where each column is handled independently.

`--columns COLUMN_NAME, ...`
`--label  LABEL_VALUE, ...`

The number of columns and labels must match.

[2021-02-16 20:51] CraigMiloRogers opened #342 "`kgtk calc --do replace`"
Add string replacement to `kgtk calc`.

[2021-02-16 20:51] CraigMiloRogers opened #343 "`kgtk calc --do substitute`"
Add regex-based substitution to `kgtk calc`.

[2021-02-17 01:02] CraigMiloRogers opened #344 "`make unittest` Broke"
`make unittest` broke with the unit tests were moved.

[2021-02-17 01:03] CraigMiloRogers commented on #344
I'm editing the Makefile to track the changed location of the unit tests.

[2021-02-17 01:04] CraigMiloRogers commented on #344
Merged into `dev`.

[2021-02-17 01:04] #344 closed

[2021-02-17 01:06] CraigMiloRogers commented on #343
Done.  Merged into `dev`.

[2021-02-17 01:06] #343 closed

[2021-02-17 01:06] CraigMiloRogers commented on #342
Done.  Merged into `dev`.

[2021-02-17 01:06] #342 closed

[2021-02-17 01:33] CraigMiloRogers commented on #339
Done.  Merged into `dev`.

[2021-02-17 01:33] #339 closed

[2021-02-17 01:34] CraigMiloRogers commented on #340
`--value-filter XXX` and `--value-match-type`, since we already have a label-oriented edge filter (`--where`, `--in`).

[2021-02-17 03:48] filievski commented on #147
This task is now specified, see https://docs.google.com/document/d/15pO3WDvZt0IT8kFtKJlYh9K2wln1RtyLZvhzJfUpREo/edit

[2021-02-17 04:20] CraigMiloRogers commented on #340
Done.  Merged into `dev`.

[2021-02-17 04:20] #340 closed

[2021-02-17 19:20] CraigMiloRogers opened #345 "Import Wikidata 20210215"
Import the current wikidata dump, cleaning the data to correct non-ISO dates.

[2021-02-17 19:21] CraigMiloRogers commented on #345
Download in progress, estimated completion in 5 hours 31 minutes.

[2021-02-17 20:08] CraigMiloRogers opened #346 "`kgtk sort --pure-python` Doesn't Handle Duplicate Keys"
`kgtk sort --pure-python` doesn't handles duplicate keys well.  Only the last record with a given key is retained.

[2021-02-17 20:10] CraigMiloRogers opened #347 "`kgtk sort --pure-python` Doesn't Implement Reverse Sort"
`kgtk sort --pure-python` doesn't implement reverse sorting. It should implement it.

[2021-02-17 22:08] CraigMiloRogers commented on #346
Done. Merged into `dev`.

[2021-02-17 22:08] #346 closed

[2021-02-17 22:08] CraigMiloRogers commented on #347
Done. Merged into `dev`.

[2021-02-17 22:08] #347 closed

[2021-02-17 22:09] CraigMiloRogers commented on #221
Done.  Merged into `dev`.

[2021-02-17 22:09] #221 closed

[2021-02-17 23:49] CraigMiloRogers commented on #295
Done.  Merged into `dev`.

[2021-02-17 23:49] #295 closed

[2021-02-18 00:32] CraigMiloRogers commented on #313
Done.  Merged into `dev`.

[2021-02-18 00:32] #313 closed

[2021-02-18 00:51] CraigMiloRogers commented on #345
Downloaded.  Making extra copy.

[2021-02-18 19:08] CraigMiloRogers opened #349 "`kgtk import-wikidata --clean`"
Have the option to clean the imported Wikidata values.  In particular, support cleaning dates.

[2021-02-18 19:18] CraigMiloRogers opened #350 "`kgtk sort --pure-python` Should Implement per-column Sort Options"
`kgtk sort --pure-python` does not currently support per-column sort options.

[2021-02-18 20:28] CraigMiloRogers opened #351 "`kgtk calc --do lower`, upper, etc."
Add case manipulation functions to `kgtk calc` for Pedro.

[2021-02-18 20:31] CraigMiloRogers commented on #351
Also desirable: numeric comparisons, logical comparisons, string comparisons, etc.

[2021-02-18 21:08] dgarijo commented on #246
I haven't found an example so far, so I will close this issue. However I found this several times. I will reopen when I get an example

[2021-02-18 21:08] #246 closed

[2021-02-22 21:15] CraigMiloRogers commented on #351
Done.  Merged into `dev`.

[2021-02-22 21:15] #351 closed

[2021-02-23 04:29] CraigMiloRogers opened #352 "`kgtk calc` Should Allow Multiple `--value` and `--into` options"
It would be nice to be able to say:

kgtk calc --do fromisoformat \
               --value year --into year \
               --value month --into month \
              --value day --into day \

This requires using 'action="append"' whigh generates lists of lists.

[2021-02-23 04:58] CraigMiloRogers opened #353 "`kgtk calc --do fromisoformat` Should Support an Error Column"
`kgtk calc --do fromisoformat` should support an error or validity column.

[2021-02-24 23:22] CraigMiloRogers commented on #353
Done.  Merged into `dev`.

[2021-02-24 23:22] #353 closed

[2021-02-24 23:54] CraigMiloRogers commented on #352
Done.  Merged into `dev`.

[2021-02-24 23:54] #352 closed

[2021-02-25 18:46] CraigMiloRogers opened #356 "`kgtk import-wikidata` and Processing Scripts Need to Check for `L`"
The Wikidata import process needs to be more aware of lexemes beginning with `L`.

[2021-02-25 19:10] CraigMiloRogers opened #357 "KgtkValue Should Provide More Detailed Errors"
KgtkValue should improve its error reporting:

1) Don't give up too soon.  Report errors for moth low and high tolerances rather than stopping at low tolerance.  Same for lat/lon.

2) Store the detailed error analysis for retrieval -- perhaps right after validate.

[2021-02-25 19:36] CraigMiloRogers opened #358 "When Importing Wikidata, Dissect claims.badvalue and qualifiers.badvalue"
When importing Wikidata, split the badvalue entries into finer categories.

1) datetime vs lat/lon vs other

2) negative dates vs >9999 dates vs calendar errors, etc.

[2021-03-01 20:43] CraigMiloRogers commented on #349
Seems to work.

[2021-03-01 20:43] #349 closed

[2021-03-02 18:40] CraigMiloRogers opened #359 "`kgtk compact` Failing"
Traceback (most recent call last):
  File "/opt/miniconda3/envs/kgtk-env/bin/kgtk", line 33, in <module>
    sys.exit(load_entry_point('kgtk', 'console_scripts', 'kgtk')())
  File "/data/amandeep/Github/kgtk/kgtk/cli_entry.py", line 311, in cli_entry
    ret_code = cli_entry_sequential_commands(args, parsed_shared_args, shared_args, parser, sub_parsers, subparser_lookup, subparsers_built)
  File "

[2021-03-02 18:40] CraigMiloRogers commented on #359
The code that sets parsed_shared_args._command appears to have been lost. Perhaps I misedited a merge.

[2021-03-02 18:41] CraigMiloRogers commented on #359
Code to set  parsed_shared_args._command has been merged into `dev`.

[2021-03-02 18:41] #359 closed

[2021-03-04 01:12] CraigMiloRogers opened #360 "`kgtk validate-properties --node1-reject-file` and `--node1-passed-file`"
Add optional files listing the `node1` groups that passed or failed validation.

[2021-03-04 18:32] CraigMiloRogers opened #361 "Add Decoded text to KgtkValueFields"
Add a field that offers the text with all backslash quotes decoded.

[2021-03-04 18:32] CraigMiloRogers commented on #361
Done.  Merged into `dev`.

[2021-03-04 18:32] #361 closed

[2021-03-04 18:34] CraigMiloRogers opened #362 "`kgtk validate-properties`: `matches` didn't work with a list in the pattern"
In `kgtk-validate-properties`, the `matches` declaration didn't work when the pattern contained a list.

[2021-03-04 18:36] CraigMiloRogers commented on #362
Decode all backslashed quoted items from the pattern before compiling the pattern.  This will require double backslashes when a backslash is intended to be part of the pattern itself.

[2021-03-04 18:36] CraigMiloRogers commented on #362
Done.  Merged into `dev`.

[2021-03-04 18:36] #362 closed

[2021-03-04 22:16] CraigMiloRogers opened #363 "`kgtk md` Wasn't Quoting Backslash Correctly"
`kgtk md` wasn't adding another layer of backslashes to backslashes in the md output.

[2021-03-04 22:16] CraigMiloRogers commented on #363
Fixed.  Merged into `dev`.

[2021-03-04 22:16] #363 closed

[2021-03-04 23:53] CraigMiloRogers opened #364 "`kgtk validate-properties` Bug in ISA Tree: Last Row Wins"
The ISA tree scoreboard for earlier rows was being overwritten by the isa scoreboard for the last row in a node1 group.

[2021-03-04 23:54] CraigMiloRogers commented on #364
When we saved each row's isa_tree_scoreboard, we needed to copy the isa_tree_scoreboard.

[2021-03-04 23:55] CraigMiloRogers commented on #364
Fixed.  Merged into `dev`.

[2021-03-04 23:55] #364 closed

[2021-03-06 05:10] szeke opened #365 "Add option to cat to sample edges"
Add an option to split an edge file randomly. A `--probability` argument specifies the probability that an edge is removed. Another parameter specifies a secondary file where the removed edges get stored.

The purpose of this command is to generate a train/test split of an edge file.

[2021-03-08 20:27] CraigMiloRogers opened #366 "`kgtk calc --do substitute` Doesn't Work as Expected"
@szeke reported:
 I found a bug in calc substitute, my command is `!$kgtk calc --mode NONE -i $TEMP/rt.tsv --do substitute --columns node1 --into quoted --value ‘(.*)’ --with ‘abc\g<1>xyz’ | head `

The result looks like abcm/0814255xyzabcxyz so the right hand side of the group looks wrong as the end is messed up

[2021-03-08 20:28] CraigMiloRogers commented on #366
I think that there was a change to the way that Python treats pattern matches in substitute that resulted in this unexpected output.  As I figure it, the (.*) matched twice, once as intended, and once as an empty match.

Here are three ways to work around the problem:

--limit 1  Add this to the command line.

(.+) Use this to ensure a match.

^(.*)$ Use this to force a single match.

[2021-03-08 20:39] CraigMiloRogers commented on #365
The current sampling options are implemented in KgtkReader. I could add a probability-based sampling option, but I wouldn't be able to handle a reject file conveniently at that level of the code.

I'd prefer to create a new command, say, `kgtk sample`.

Also, I'd prefer to make `--probability` be the probability of keeping an edge, so `--probability .1` keeps 10% of the edges.

[2021-03-08 21:13] CraigMiloRogers commented on #366
Here's a note in the Python documentation:

Changed in version 3.7: Empty matches for the pattern are replaced when adjacent to a previous non-empty match.

[2021-03-08 21:20] CraigMiloRogers commented on #366
I've updated `calc.md` to warn about this problem and give advice on avoiding it.

[2021-03-08 21:20] #366 closed

[2021-03-08 21:48] CraigMiloRogers opened #367 "`kgtk calc --do random --value seedint`"
Add a random number generator to `kgtk calc`.  Optionally allow an integer seed.

[2021-03-09 00:16] saggu opened #368 "The package `sh` is not available on windows"
People developing code on Windows are not able to install `kgtk` due to the package `sh` not being available on windows.

This scenario is different than using docker, because kgtk is installed as a package in another python FLASK API.

Is it possible to remove the package `sh` and use an alternative ?

[2021-03-10 23:49] chalypso commented on #368
It would be possible to replace sh, but it is a significant undertaking since it is used in quite a lot of functionality.  It would be fairly easy to replace it for query, but it is also used quite extensively for sort, cat, cli pipes, exceptions, plus this seems to go into the direction of fully supporting KGTK under Windows which opens a completely separate can of worms.  So I'd rather not go th

[2021-03-16 09:34] zmbq opened #370 "kgtk validate does not return a different exit code in case of a validation error"
After running `kgtk validate` on a valid kgtk file, the exit code is 0. Running it again on an invalid file correctly displays the validation error, but the exit code is still 0.

Running kgtk with bad arguments (`kgtk validate file.tsv` - note the missing `-i`) does return an exit code of 2.

**Expected behavior**
I would expect `kgtk validate` to return an exit code of 1 in case of a validation

[2021-03-16 09:40] zmbq opened #371 "Can't validate a kgtk file from Python"
I tried validating a kgtk file from a Python script. I used code similar to this:

[code]

No matter which file I provide - with errors or without them - the result is that the validation succeeds. This can be seen by looking at stdout - kgtk does open the right file, validates the headers, reads the right number of rows, and ignores errors. Running `kgtk validate` on the same file does find valid

[2021-03-18 17:10] szeke opened #373 "Cannot find https://www.wikidata.org/wiki/Q35149 in the text search"
The problem here is that Wilhelm Röntgen does not have an alias with Wilhelm Rontgen, which is how one would search it.

We need to add aliases that convert the WD labels and aliases to ascii for the roman languages. Need to coordinate with Rijul to add these new strings to the index

[2021-03-20 16:09] szeke opened #374 "Exception while calling kgtk_quantity_number"
The following exception occurs while calling `kgtk_quantity_number` in the quantities file from Wikidata. The query succeeds without the `kgtk_quantity_number` so either a bad number of a bug in the function.

The query:
[code]

The files:
https://drive.google.com/drive/folders/19UbgVbIfe51quxd34NFn3CIcMZgteeEJ?usp=sharing

The error:
[code]

[2021-03-22 19:41] chalypso commented on #374
The exception is caused by an integer value overflow from this quantity:

+162000000000000000000000Q122922

which is 77bits long (some amount of Swedish krona) and outside the SQLite 8-byte integer range.  So this actually broke on the SQLite side and not in Python.  I can catch these and map them onto floats for the kgtk_quantity_number accessor, but I have to think about how to handle out-of-ran

[2021-03-22 19:53] saggu commented on #373
Will add these to the second version of augmented wikidata dwd index

[2021-03-22 20:28] CraigMiloRogers opened #375 "update_documentation Should Distinguish Unexpected Responses"
Unexpected responses should be highlighted in update_documentation.

[2021-03-22 20:32] CraigMiloRogers commented on #375
Merged into dev.

[2021-03-22 20:32] #375 closed

[2021-03-22 20:41] CraigMiloRogers commented on #374
As a workaround, converting this integer into a floating point number would probably allow it to be processed in SQLite. I wouldn't want to do this all the time on Wikidata import, because then we couldn't export the Wikidata cleanly (time machine, for example).

[2021-03-22 20:44] CraigMiloRogers commented on #374
I could do the conversion in import-wikidata.  It would be nice to have a `kgtk validate` option to detect and/or convert out of range integers, or a `kgtk calc` operation to convert out-of-range integers, but KGTK's data type system doesn't distinguish between integers and other numbers/quantities, which means that my solutions would be more ad-hoc than usual.

[2021-03-22 22:59] chalypso commented on #374
I think I fixed it in the spirit of how SQLite handles overflows, will push shortly.  No need to convert on import or validate.

[2021-03-23 02:23] chalypso commented on #374
Fixed in latest push to dev (0f91af24..3af7f59b). This now maps large values to floats when possible (e.g., when kgtk_quantity_number' is called), and otherwise clamps values to their range extremes.  This might need further generalization down the road if we want to handle arbitrary precision integers more gracefully or want to actually detect overflows.  I also fixed some other floating point pa

[2021-03-23 02:23] #374 closed

[2021-04-08 23:27] saggu commented on #373
Fixed in latest version:  https://kgtk.isi.edu/search/

[2021-04-08 23:27] #373 closed

[2021-04-13 20:53] dgarijo opened #376 "Wikidata import removes deprecated statements"
Right now the import removes the deprecated statements from the dump.

Ideally, the import should place these statements in another file, so we can preserve them if needed.

We have found this issue when trying to analyze how many deprecated statements are there in Wikidata.

[2021-04-14 08:30] dgarijo commented on #376
There is the `--deprecated` flag on import_wikidata, which I had not previously seen. Closing the issue.

[2021-04-14 08:30] #376 closed

[2021-04-14 15:12] dgarijo opened #377 "Import wikidata bug"
Note: the import works, but I see an exception:

Dump [20210104.json.gz](https://drive.google.com/file/d/1c_yqDmM5qsKF64Ix9MSDKuAwnbRAcnjD/view?usp=sharing) I am seeing the following exception:

[code]
The command I am using is the following:
[code]

[2021-04-20 03:25] aphedges opened #378 "Incorrect apostrophe handling in label returned from endpoint"
**Describe the bug**
When searching the KGTK API endpoint for `milk` in WIkidata, the entry [Q10988133](https://www.wikidata.org/wiki/Q10988133) ("cow's milk") returns the label "`cow\\s milk`" instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://kgtk.isi.edu/api/Q10988133?extra_info=true&language=en>.
2. See error.

**Expected behavior**
The label should be "`cow's milk`"

[2021-04-22 17:57] CraigMiloRogers commented on #377
Added tests yo prevent this.

[2021-04-22 17:57] #377 closed

[2021-05-02 00:33] szeke opened #381 "Query does not produce second column in the opt feature branch"
The following query does not populate the `class_label` column when the `labels` clause is optional:
[code]

[2021-05-03 01:53] szeke opened #382 "reachable-nodes does not work when the roots file has a single column"
When the roots file has a single column, the file is rejected and the following error appears:
[code]

Not clear why it wants multiple columns in the roots file. The command should accept a file with multiple columns, and then the `--rootfilecolumn` specifies the column. If the file has a single column there is no need to specify `--rootfilecolumn`

This command is also using old names  `subj`, `p

[2021-05-03 21:49] chalypso commented on #381
Maybe your --limit 50 restricted you to only see the empty class labels?  If saving to a file doesn't fix the issue for you, I'll have to run on your exact data to see what's going on.

I ran the query like this and it seemed to do the right thing (I had to generate movies.tsv and p31 from my DWD browser DB instance):

`time kgtk --debug query -i p31 -i labels -i movies --index none --graph-cache

[2021-05-05 04:19] szeke commented on #381
Aha, could be, I'll give it a try, thx

[2021-05-16 18:19] szeke opened #383 "path command throws exception"
The path command throws the following exception on a large file. Listing the exception here as it may be possible to fix it by looking at the code. Replicating is hard because it requires large files:

[code]

[2021-05-20 10:56] jindalkanika opened #384 "KGTK modulenotfound Error"
**Description**
I was trying to calculate the pagerank and degree using KGTK on wikidata.
But it throws an error:
/usr/local/lib/python3.7/dist-packages/kgtk/exceptions.py:66: UserWarning: Please raise KGTKException instead of <class 'ModuleNotFoundError'>
  warnings.warn('Please raise KGTKException instead of {}'.format(type_))
KGTKException found

I have tried it on different OS (windows 10, mac

[2021-05-20 17:51] saggu commented on #384
@jindalkanika can you try to add the `--debug` option while running the command, like so

[code]

Most likely you'll find `graph-tool` is not installed

[2021-05-20 18:34] saggu commented on #383
@szeke this looks specific to the `path` file specified, which has the pairs of qnodes to find a path between. Could you post that file?

[2021-05-20 18:42] CraigMiloRogers opened #385 "ShmQueue Reported Open Queue on Worker process Shutdown in import-wikidata"
Telling the workers to shut down.
Waiting for the workers to shut down.
Exiting worker process 2 (pid 7270).
Exiting worker process 15 (pid 7300).
Exiting worker process 16 (pid 7301).
Exiting worker process 1 (pid 7266).
Exiting worker process 9 (pid 7294).
Exiting worker process 0 (pid 7261).
Exiting worker process 5 (pid 7287).
Exiting worker process 10 (pid 7295).
Exiting worker process 14 (pi

[2021-05-20 18:47] CraigMiloRogers opened #386 "KGTK README.md Says to Use Python 3.7, but `kgtk import-wikidata` Requires Python 3.8 for Performance"
The high-performance ShmQueue from pyrallel-lib, used by `kgtk import-wikidata`, requires Python 3.8 or later.

Python 3.7 is now obsolete. Python 3.9 is the current version. Shall we update README.md to specify Python 3.8 or Python 3.9?

[2021-05-20 21:46] szeke commented on #383
@saggu I can try to get the files later, there is no obvious thing about failing to handle an edge case?

[2021-05-20 23:42] saggu commented on #383
This case: There is a row in the file which has different number of columns than other rows.

The code should throw an exception, just the message needs to be clear

[2021-05-23 23:09] versant2612 opened #387 "kgtk import-ntriples discards triples with langtag"
**Describe the bug**

kgtk import-ntriples discards triples with langtag, for example:

<http://www.nima.puc-rio.br/lattes/1944208293448093#P690> <http://purl.org/dc/elements/1.1/title> "A TunÃ­sia, o Egito e nÃ³s"**@pt** .
<http://www.nima.puc-rio.br/lattes/1944208293448093#P698> <http://purl.org/dc/elements/1.1/title> "Sindicato e PolÃ­tica no Governo Dilma"**@pt** .
<http://www.nima.puc-rio.br/